<div class="max-w-xl mx-auto mt-4 bg-white p-4">
  <%= form_with(model: staff, local: true) do |form| %>

    <%= form_errors_for(staff) %>

    <div class="grid grid-cols-2 gap-x-5 gap-y-3 items-center">

     <!-- Employment Status -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :employment_status %>
      </label>
      <div class="text-left">
        <%= form.select :employment_status,
              options_for_select(employment_status, staff.employment_status.presence || "Active"),
              { prompt: true },
              class: field_class_flex %>
      </div>

      <!-- First Name -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :first_name %>
      </label>
      <div class="text-left">
        <%= form.text_field :first_name, class: field_class_flex %>
      </div>

      <!-- Last Name -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :last_name %>
      </label>
      <div class="text-left">
        <%= form.text_field :last_name, class: field_class_flex %>
      </div>

      <!-- Department -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :dept %>
      </label>
      <div class="text-left">
        <%= form.select :dept, options_for_select(department, staff.dept), { prompt: true }, class: field_class_flex %>
      </div>

      <!-- Role -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :role %>
      </label>
      <div class="text-left">
        <%= form.text_field :role, class: field_class_flex %>
      </div>

      <!-- Back to Index -->
      <div class="text-left mt-2">
        <%= link_to "â† Back to Staff", staffs_path, class: clear_button_class %>
      </div>

      <!-- Submit Button -->
      <div class="text-left mt-2">
        <%= form.submit "Save Staff", class: fill_button_class %>
      </div>

    </div>
  <% end %>
</div>
