<div id="<%= dom_id staff %>">

<div class="border border-gray-800 rounded-lg">
<div class="grid md:grid-cols-3 lg:grid-cols-5">
  <p class="my-5 ml-6">
    <strong class="block font-medium mb-1">Employment status:</strong>
    <%= staff.employment_status %>
  </p>


  <p class="my-5 ml-6">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= staff.first_name %>
  </p>

  <p class="my-5 ml-6">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= staff.last_name %>
  </p>

  <p class="my-5 ml-6">
    <strong class="block font-medium mb-1">Dept:</strong>
    <%= staff.dept %>
  </p>

  <p class="my-5 ml-6">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= staff.role %>
  </p>
</div>
</div>
 </div>
