<div id="<%= dom_id calculation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= calculation.product %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= calculation.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= calculation.weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= calculation.notes %>
  </p>

</div>
