<div id="<%= dom_id calculation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= calculation.product %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <p class= "shadow rounded-lg border border-green-800 outline-none px-3 w-60">
    <%= calculation.size %>
     </p>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= calculation.weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= calculation.notes %>
  </p>

</div>
