<div class="max-w-xl mx-auto mt-4 bg-white p-4">
  <%= form_with(model: calculation, local: true) do |form| %>

    <%= form_errors_for(calculation) %>

    <div class="grid grid-cols-2 gap-x-5 gap-y-3 items-center">

      <!-- Product -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :product %>
      </label>
      <div class="text-left">
        <%= form.select :product,
                        options_for_select(grade, selected: calculation.product),
                        { prompt: true },
                        class: field_class_flex %>
      </div>

      <!-- Size -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :size %>
      </label>
      <div class="text-left">
        <%= form.select :size,
                        options_for_select(sale_size, selected: calculation.size),
                        { prompt: true },
                        class: field_class_flex %>
      </div>

      <!-- Weight -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :weight, "Weight in Grams" %>
      </label>
      <div class="text-left">
        <%= form.text_field :weight, class: field_class_flex %>
      </div>

      <!-- Notes -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :notes %>
      </label>
      <div class="text-left">
        <%= form.text_field :notes, class: field_class_flex %>
      </div>

      <!-- Back to Index (1st col, label side) -->
      <div class="text-left">
        <%= link_to "â† Back to Calculations", calculations_path, class: gray_button %>
      </div>

      <!-- Submit Button (2nd col, input side) -->
      <div class="text-left">
        <%= form.submit "Save", class: fill_button_class %>
      </div>
    </div>

  <% end %>
</div>
