<div>
<%= form_with(model: calculation, class: "contents") do |form| %>
  <% if calculation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(calculation.errors.count, "error") %> prohibited this calculation from being saved:</h2>

      <ul>
        <% calculation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="">
    <%= form.label :product, class:label_class %>
      <div class="">
    <%=  form.select :product, options_for_select(grade, :selected => calculation.product),{:prompt=>true}, class: field_class_flex %>
   </div>
   <div>
     <%= form.label :size, class:label_class%>
     <%=  form.select :size, options_for_select(sale_size, :selected => calculation.size),{:prompt=>true}, class: field_class_flex%>
   </div>
   <div>
     <%= form.label :weight,"Weight in Grams", class:label_class%>
     <%= form.text_field :weight, class: field_class_flex %>
    </div>
  <div class="">
    <%= form.label :notes, class:label_class %>
    <%= form.text_field :notes, class: field_class_flex %>
  </div>
  <br>
  <div class="inline m-4 mb-4">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-green-800 text-white inline-block font-medium cursor-pointer" %>
  </div><br>
<% end %>
