<% content_for(:page_title, "CALCULATIONS")%>
 
<div class="mx-auto w-full md:w-2/3">

<div id="calculations">
 <div class="grid grid-cols-3 gap-4 mb-4">
   <div class="col-span-2">
     <p class="text-base text-left font-light">IMPORTANT: These values are used to convert Picklist weight options to grams for the wash list calculations.
     Update with care. All weights are in <strong>grams</strong> only.
     </p>
   </div>
   <div class="mt-2 text-right">
     <%= link_to "Add New Calculation", new_calculation_path, class: clear_button_class %>
     <br>
   </div> 
  </div>


    <div class="container mx-auto my-6">
      <div class="h-96 border-separate overflow-clip flex flex-col">
        <table class="w-full lg:w-2/3 table-fixed">
          <thead class="sticky top-0 text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
          <tr class="bg-gray-200 sticky top-0">
                    <th scope="col" class="px-6 py-3 w-30 text-left">
                        Product
                    </th>
                    <th scope="col" class="px-6 py-3 text-right w-28">
                        Size
                    </th>
                    <th scope="col" class="px-6 py-3 text-right">
                        Weight(g)
                    </th>
                    <th scope="col" class="px-6 py-3 text-right whitespace-nowrap">
                        Notes
                    </th>
               
                    <th scope="col" class="px-6 py-3 text-right ">
                        
                    </th>
               
                </tr>
            </thead>
            </table>
        <div class="flex-1 overflow-y-auto">
          <table class="w-full lg:w-2/3 table-fixed text-sm">
            <tbody>
             <% @calculations.each do |calculation| %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100">
                    <td scope="row" class="px-6 py-4 whitespace-nowrap">
                       <%= link_to calculation.product %>
                    </td>
                    <td class="px-6 py-4 text-right w-28 underline underline-offset-2">
                      <%=  link_to calculation.size, calculation_path(calculation) %>
                    </td>
                    <td class="px-6 py-4 text-right ">
                      <%= number_with_delimiter(calculation.weight) unless calculation.weight.to_s.empty? %>g
                    </td>
                    <td class="px-6 py-4 text-right whitespace-nowrap">
                      <%=  calculation.notes %>
                    </td>
                    <td class="px-6 py-4 text-right text-green-500">
                    <%=  link_to "Edit", edit_calculation_path(calculation) %>
                    </td>
               
                </tr>
           
                  <% end %>
            </tbody>
        </table>
    </div>
    </div>
</div>
