<% content_for(:page_title, "CALCULATIONS")%>
<div id="calculations">
 
<div class="mx-auto md:w-2/3 w-full">
<p class="text-base text-left font-light">IMPORTANT: These values are used to convert Picklist weight options to grams for the wash list calculations.
<br>Update with care. All weights are in <strong>grams</strong> only.
</p>


  <div class="m-4 block">
    <%= link_to "Add New Calculation", new_calculation_path, class: clear_button_class %>
  </div>

    <div class="flex items-center p-3 bg-whitespace-x-6 border border-gray-200 rounded text-sm">
    <div class="relative overflow-x-auto">
        <table class="w-full table-fixed text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-30">
                        Product
                    </th>
                    <th scope="col" class="px-6 py-3 text-right w-28">
                        Size
                    </th>
                    <th scope="col" class="px-6 py-3 text-right">
                        Weight(g)
                    </th>
                    <th scope="col" class="px-6 py-3 text-right whitespace-nowrap">
                        Notes
                    </th>
               
                    <th scope="col" class="px-6 py-3 text-right ">
                        
                    </th>
               
                </tr>
            </thead>
            <tbody>
             <% @calculations.each do |calculation| %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td scope="row" class="px-6 py-4 whitespace-nowrap">
                       <%= link_to calculation.product %>
                    </td>
                    <td class="px-6 py-4 text-right  underline underline-offset-2">
                      <%=  link_to calculation.size, calculation_path(calculation) %>
                    </td>
                    <td class="px-6 py-4 text-right ">
                      <%= number_with_delimiter(calculation.weight) unless calculation.weight.to_s.empty? %>
                    </td>
                    <td class="px-6 py-4 text-right whitespace-nowrap">
                      <%=  calculation.notes %>
                    </td>
                    <td class="px-6 py-4 text-right text-green-500">
                    <%=  link_to "Edit", edit_calculation_path(calculation) %>
                    </td>
               
                </tr>
           
                  <% end %>
            </tbody>
        </table>
    </div>
    </div>
</div>
