<hr>
<br>
  <%= form_for [picksheet, picksheet_item], html: { class: "form line-item-date" } do |form| %>
  
  <% if picksheet_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(picksheet_item.errors.count, "error") %> prohibited this picksheet_item from being saved:</h2>

      <ul>
        <% picksheet_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="flex flex-row gap-2">
  <div>
      <%= form.label :product, class:"font-semibold text-sm pl-4" %><br>
      <div class="m-2">
        <p class="my-4 hover:bg-gray-100">  <%= form.radio_button :product, 'Poacher'%> Poacher</p>
        <p class="my-4 hover:bg-gray-100">  <%= form.radio_button :product, 'Vintage' %> Vintage</p>
        <p class="my-4 hover:bg-gray-100">  <%= form.radio_button :product, 'P50' %> P50</p>
        <p class="my-4 hover:bg-gray-100"> <%= form.radio_button :product, 'Smoked' %> Smoked</p>
        <p class="my-4 hover:bg-gray-100"> <%= form.radio_button :product, 'Red' %> Red</p>
        <p class="my-4 hover:bg-gray-100"> <%= form.radio_button :product, 'Double Barrel' %> Double Barrel</p>
      </div>
    </div>
    <div>
     <%= form.label :size, class:"font-semibold text-sm" %><br>
     <div class="w-20">
       <p class="my-4 hover:bg-gray-100">  <%= form.radio_button :size, 'Whole'%> Whole</p>
       <p class="my-4 hover:bg-gray-100">  <%= form.radio_button :size, '1/2' %> 1/2</p>
       <p class="my-4 hover:bg-gray-100"> <%= form.radio_button :size, '1/4' %> 1/4</p>
       <p class="my-2  hover:bg-gray-100"> <%= form.radio_button :size, '1/8' %> 1/4</p>
       <p class="my-2  hover:bg-gray-100"> <%= form.radio_button :size, '250g' %> 250g</p>
       <p class="my-2  hover:bg-gray-100"> <%= form.radio_button :size, '250g' %> 250g</p>
     </div>
     </div>
   <div>
     <%= form.label :count, class:"font-semibold text-sm pl-4" %><br>
      <%= form.number_field :count, class: "text-green-800 rounded-lg w-16" %>
   </div>
   
      </div>
      
   <div class="inline">
     <%= form.submit "Save Line Item", class: tight_fill_button_class %>
      <%= link_to "Cancel", picksheet_path(picksheet), class: tight_clear_button_class %>
   </div>
<% end %>
<br>
<hr>
<br>


