<hr>
<br>
  <%= form_for [picksheet, picksheet_item], html: { class: "form line-item-date" } do |form| %>
  
  <% if picksheet_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(picksheet_item.errors.count, "error") %> prohibited this picksheet_item from being saved:</h2>

      <ul>
        <% picksheet_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="w-full flex flex-row gap-4">
  <!-- Product Column -->
  <div class="border-l-2 px-4 py-2 w-1/6">
    <%= form.label :product, class:"font-semibold text-sm" %><br>
    <div class="w-full">
      <% sale_product.each do |product| %>
        <p class="my-4 hover:bg-gray-100 whitespace-nowrap">
          <%= form.radio_button :product, product %> <%= product %>
        </p>
      <% end %>
    </div>
  </div>

  <!-- Size Column -->
  <div class="border-l-2 px-4 py-2 w-1/6">
    <%= form.label :size, class:"font-semibold text-sm" %><br>
    <div class="w-full">
      <% sale_size.each do |size| %>
        <p class="my-4 hover:bg-gray-100 whitespace-nowrap">
          <%= form.radio_button :size, size %> <%= size %>
        </p>
      <% end %>
    </div>
  </div>

  <!-- Wedge Size Column -->
  <div class="border-l-2 px-4 py-2 w-1/6">
    <%= form.label :wedge_size, class:"font-semibold text-sm" %><br>
    <div class="w-full">
      <% wedges_sizes.each do |wedge| %>
        <p class="my-4 hover:bg-gray-100 whitespace-nowrap">
          <%= form.radio_button :wedge_size, wedge %> <%= wedge %>
        </p>
      <% end %>
    </div>
  </div>

   <!-- Pricing  Column -->
  <div class="border-l-2 px-4 py-2 w-1/6">
    <%= form.label :pricing, class:"font-semibold text-sm" %><br>
    <div class="w-full">
      <% sale_pricing.each do |price| %>
        <p class="my-4 hover:bg-gray-100 whitespace-nowrap">
          <%= form.radio_button :pricing, price %> <%= price %>
        </p>
      <% end %>
    </div>
  </div>

  <!-- Count Column -->
  <div class="border-l-2 px-4 py-2 w-1/6">
    <%= form.label :count, class:"font-semibold text-sm" %><br>
    <%= form.number_field :count, class: "text-green-800 rounded-lg w-16" %>
    <br>
    <br>
     <%= form.label :custom_notes, "Custom Size, Weight or Price", class:"font-semibold text-sm" %><br>
    <%= form.text_area :custom_notes, rows: 5, class: "text-green-800 rounded-lg w-60" %>
  </div>
</div>

<div class="mt-4">
  <%= form.submit "Save Line Item", class: tight_fill_button_class %>
  <%= link_to "Cancel", picksheet_path(picksheet), class: tight_clear_button_class %>
</div>

<% end %>
<br>
<hr>
<br>


