<%= turbo_frame_tag picksheet_item do %>
  <div class="picksheet_item">
    
    <div class="picksheet_item__header">
  <table class="w-full table-fixed text-left rtl:text-right text-gray-500">
    <tr class="bg-white border-b">
        <td scope="row" class="text-sm p-2 whitespace-nowrap">
           <%= picksheet_item.product %>
        </td>
    
        <td scope="row" class="p-2 whitespace-nowrap text-right">
           <%= picksheet_item.size %>
        </td>
    
        <td scope="row" class="p-2 text-right ">
           <%= picksheet_item.count %>
        </td>
    
        <td scope="row" class="p-2 text-right italic text-gray-600">
          <%= picksheet_item.weight %>
        </td>
    
        <td scope="row" class="p-2 whitespace-nowrap text-center">
           <%= picksheet_item.code %>
        </td>
    
        <td scope="row" class="p-2 whitespace-nowrap">
           <%= picksheet_item.sp_price %>
        </td>
    
        <td scope="row" class="p-2 whitespace-nowrap">
           <%= picksheet_item.bb_date.to_formatted_s(:uk_time) unless picksheet_item.bb_date.to_s.empty? %>
        </td>
    </div>
  <div class="picksheet_item__actions">
        <td scope="row" class="p-2 whitespace-nowrap text-center">
         <%= button_to "Delete",
                         [@picksheet, picksheet_item],
                         method: :delete,
                         form: { data: { turbo_confirm: "Are you sure?" } },
                         class: "text-red-500" %>
        </td>
    
        <td scope="row" class="p-2 whitespace-nowrap text-center">
        <%= link_to "Edit",
                         [:edit, @picksheet, picksheet_item],
                         class: "btn btn--light" %>
        </td>
    </div>
      </tr>
      </table>
</div>
<% end %>
