<%= turbo_frame_tag picksheet_item do %>
  <div class="picksheet_item">
    
    <div class="picksheet_item__header">
  <table class="w-full table-fixed text-left rtl:text-right text-gray-500">
    <tr class="bg-white border-b">
        <td scope="row" class="text-sm p-2  border-r whitespace-nowrap w-32">
          <%= picksheet_item.display_product_or_grade %>
        </td>
    
        <td scope="row" class="p-2  border-r whitespace-nowrap text-left w-[60px]">
           <%= picksheet_item.size %>
        </td>

         <td scope="row" class="p-2  border-r whitespace-nowrap text-right w-32">
           <%= picksheet_item.wedge_size %>
        </td>

         <td scope="row" class="p-2  border-r text-right text-sm w-32">
           <%= picksheet_item.pricing %>
        </td>
    
        <td scope="row" class="p-2  border-r text-center w-[30px]">
           <%= picksheet_item.count %>
        </td>
    
        <td scope="row" class="p-2  border-r text-right italic text-gray-600 w-24">
          <%= picksheet_item.weight %>
        </td>
    
        <td scope="row" class="p-2  border-r whitespace-nowrap text-center w-24">
           <%= picksheet_item.code %>
        </td>
    
        <td scope="row" class="p-2  border-r whitespace-nowrap w-24">
           <%= picksheet_item.sp_price %>
        </td>
    
        <td scope="row" class="p-2  border-r whitespace-nowrap w-24">
           <%= picksheet_item.bb_date.to_formatted_s(:uk) unless picksheet_item.bb_date.to_s.empty? %>
        </td>
    </div>
      <div class="picksheet_item__actions">
      <td scope="row" class="p-1 whitespace-nowrap text-center w-24">
         <div class="flex justify-center gap-2">
            <%= link_to "Edit",
                           [:edit, @picksheet, picksheet_item],
                           class: "text-green-500" %>
            <%= button_to "Delete",
                           [@picksheet, picksheet_item],
                           method: :delete,
                           form: { data: { turbo_confirm: "Are you sure?" } },
                           class: "text-red-500" %>

            
         </div>
      </td>
      </div>
      </tr>
      </table>
</div>
<% end %>
