<div id="<%= dom_id picksheet_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= picksheet_item.product %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= picksheet_item.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Count:</strong>
    <%= picksheet_item.count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= picksheet_item.weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= picksheet_item.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sp price:</strong>
    <%= picksheet_item.sp_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bb date:</strong>
    <%= picksheet_item.bb_date %>
  </p>

</div>
