<%= turbo_frame_tag picksheet_item do %>
  <div class="picksheet_item">
    <div class="picksheet_item__header">
        <tr id="<%= dom_id(picksheet_item) %>" class="bg-white border-b align-middle">
               <td class="p-2 border-r whitespace-nowrap truncate">
                  <%= picksheet_item.display_product_or_grade %>
               </td>
               <td class="p-2 border-r whitespace-nowrap">
                  <%= picksheet_item.size %>
               </td>
               <td class="p-2 border-r text-sm">
                  <%= picksheet_item.pricing %>
               </td>
               <td class="p-2 border-r text-center">
                  <%= picksheet_item.count %>
               </td>
               <td class="p-2 border-r text-right italic text-gray-600">
                  <%= picksheet_item.weight %>
               </td>
               <td class="p-2 border-r text-center">
                  <%= picksheet_item.code %>
               </td>
               <td class="p-2 border-r">
                  <%= picksheet_item.sp_price %>
               </td>
               <td class="p-2 border-r text-center">
                  <%= picksheet_item.bb_date&.to_formatted_s(:uk) %>
               </td>
               <td class="p-1 text-center">
                  <div class="flex justify-center gap-2">
                     <%= link_to "Edit",
                                 [:edit, @picksheet, picksheet_item],
                                 class: "text-green-600 hover:underline" %>
                     <%= button_to "Delete",
                                 [@picksheet, picksheet_item],
                                 method: :delete,
                                 form: { data: { turbo_confirm: "Are you sure?" } },
                                 class: "text-red-600 hover:underline" %>
                  </div>
               </td>
               </tr>

  </div>
</div>
<% end %>
