<tr id="<%= dom_id(picksheet_item) %>" class="border-b">
  <td class="p-2"><%= picksheet_item.display_product_or_grade %></td>
  <td class="p-2"><%= picksheet_item.size %></td>
  <td class="p-2"><%= picksheet_item.pricing %></td>
  <td class="p-2 text-center"><%= picksheet_item.count %></td>
  <td class="p-2 text-right italic">
    <%= number_with_precision(picksheet_item.get_weight, precision: 2) %> kg
  </td>
  <td class="p-2 text-center"><%= picksheet_item.code %></td>
  <td class="p-2"><%= picksheet_item.sp_price %></td>
  <td class="p-2 text-center"><%= picksheet_item.bb_date&.strftime('%d/%m/%y') %></td>
  <td class="p-2 text-center">
      <div class="inline-flex items-center justify-center gap-2">
        <%= action_pill "Edit",
              edit_picksheet_picksheet_item_path(picksheet_item.picksheet, picksheet_item, format: :turbo_stream),
              color: :green %>

        <%= action_pill "Delete",
              picksheet_picksheet_item_path(picksheet_item.picksheet, picksheet_item),
              color: :red,
              method: :delete,                    # Rails will turn this into a turbo delete
              confirm: "Delete this line?" %>
      </div>
  </td>

</tr> 

