<%= form_with(model: picksheet, class: "contents") do |form| %>
  <% if picksheet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(picksheet.errors.count, "error") %> prohibited this picksheet from being saved:</h2>

      <ul>
        <% picksheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="my-2">
    <%= form.label :status, class: label_class %>
    <%=  form.select :status, options_for_select(pick_status, :selected => picksheet.status),{:prompt=>true}, class: field_class_flex_med %>
  </div>

   <div class="my-2">
    <%= form.label :date_order_placed, "Date order placed*", class: label_class %>
    <%= form.date_field :date_order_placed, :value => Time.now.strftime('%Y-%m-%d'), class: field_class_flex_med %>
  </div>

   <div class="my-2">
    <%= form.label :delivery_required_by, class: label_class  %>
    <%= form.date_field :delivery_required_by,  class: field_class_flex_med %>
  </div>

  <div class="my-2 text-right">
  <div class="form-group flex items-center justify-end">
    <%= form.label :delivery_time_of_day, "Delivery Time of Day", class: label_class %>
    <div class="ml-4 flex items-center">
      <%= form.radio_button :delivery_time_of_day, 'AM', class: 'mr-2' %> AM
      <%= form.radio_button :delivery_time_of_day, 'PM', class: 'mr-2' %> PM
    </div>
  </div>
  </div>

   <div class="my-2">
    <%= form.label :contact_id, "Customer", class: label_class  %>
    <%= form.collection_select(:contact_id, @contacts, :id, :business_name,{:prompt=>true}, {:class=>field_class_flex }) %>
  </div>

   <div class="my-2">
    <%= form.label :contact_telephone_number, "Customer Telephone", class: label_class  %>
    <%= form.text_field :contact_telephone_number, class: field_class_flex_med %>
  </div>

   <div class="my-2">
    <%= form.label :invoice_number, class: label_class  %>
    <%= form.text_field :invoice_number,  class: field_class_flex_med %>
  </div>

   <div class="my-2">
    <%= form.label :carrier, class: label_class  %>
    <%=  form.select :carrier, options_for_select(carrier, :selected => picksheet.carrier),{:prompt=>true}, class: field_class_flex %>
  </div>
   
   <div class="my-2">
    <%= form.label :carrier_delivery_date, class: label_class  %>
    <%= form.date_field :carrier_delivery_date,  class: field_class_flex_med%>
  </div>

  <div class="my-2">
    <%= form.label :carrier_collection_notes, "Carrier or Customer Collection Notes", class: label_class  %>
    <%= form.text_area :carrier_collection_notes,  rows: 3, class: field_class_flex%>
  </div>

  <div class="mb-4">
    <%= form.label :number_of_boxes, class: label_class  %>
    <%= form.number_field :number_of_boxes,  class: field_class_flex_med %>
  </div>

  <div class="inline">
    <%= form.submit "Update Picking Sheet", class: fill_button_class %><br>
    <%= link_to "Back to picking sheets", picksheets_path, class: gray_button %>
  </div>
<% end %>
