<%= form_with(model: picksheet, class: "contents") do |form| %>
  <% if picksheet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(picksheet.errors.count, "error") %> prohibited this picksheet from being saved:</h2>

      <ul>
        <% picksheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= form.label :status, class: label_class %>
   <%=  form.select :status, options_for_select(pick_status, :selected => picksheet.status),{:prompt=>true}, class: field_class_flex %>
  </div>

  <div class="">
    <%= form.label :date_order_placed, class: label_class %>
    <%= form.date_field :date_order_placed, :value => Time.now.strftime('%Y-%m-%d'), class: field_class_flex %>
  </div>

  <div class="">
    <%= form.label :delivery_required_by, class: label_class  %>
    <%= form.datetime_field :delivery_required_by,  class: field_class_flex %>
  </div>

  <div class="">
    <%= form.label :contact_id, class: label_class  %>
    <%= form.collection_select(:contact_id, @contacts, :id, :business_name,{:prompt=>true}, {:class=>field_class_flex }) %>
  </div>

  <div class="">
    <%= form.label :contact_telephone_number, class: label_class  %>
    <%= form.text_field :contact_telephone_number, class: field_class_flex %>
  </div>

  <div class="">
    <%= form.label :invoice_number, class: label_class  %>
    <%= form.text_field :invoice_number,  class: field_class_flex %>
  </div>

  <div class="">
    <%= form.label :carrier, class: label_class  %>
     <%=  form.select :carrier, options_for_select(carrier, :selected => picksheet.carrier),{:prompt=>true}, class: field_class_flex %>
  </div>
   
  <div class="">
    <%= form.label :carrier_delivery_date, class: label_class  %>
    <%= form.datetime_field :carrier_delivery_date,  class: field_class_flex%>
  </div>

  <div class="mb-4">
    <%= form.label :number_of_boxes, class: label_class  %>
    <%= form.number_field :number_of_boxes,  class: field_class_flex%>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-green-800 text-white inline-block font-medium cursor-pointer" %>
    <%= link_to "Back to picksheets", picksheets_path, class: gray_button %>
  </div>
<% end %>
