<%= form_with(model: picksheet, class: "contents") do |form| %>
  <% if picksheet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(picksheet.errors.count, "error") %> prohibited this picksheet from being saved:</h2>

      <ul>
        <% picksheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="my-2 flex items-center">
    <%= form.label :status, class: "w-1/3 text-right pr-4"  %>
    <%=  form.select :status, options_for_select(pick_status, :selected => picksheet.status),{:prompt=>true}, class: field_class_flex_med %>
  </div>

  <div class="my-2 flex items-center">
    <%= form.label :date_order_placed, class: "w-1/3 text-right pr-4"  %>
    <%= form.date_field :date_order_placed, :value => Time.now.strftime('%Y-%m-%d'), class: field_class_flex_med %>
  </div>

   <div class="my-2 flex items-center">
    <%= form.label :contact_id, "Customer*", class: "w-1/3 text-right pr-4"   %>
    <%= form.collection_select(:contact_id, @contacts, :id, :business_name,{:prompt=>true}, {:class=>field_class_flex }) %>
  </div>

  <div class="my-2 flex items-center">
    <%= form.label :contact_telephone_number, "Customer Telephone", class: "w-1/3 text-right pr-4"   %>
    <%= form.text_field :contact_telephone_number, type: 'tel', class: field_class_flex %>
  </div>


  <div class="my-2 flex items-center">
    <%= form.label :delivery_required_by, class: "w-1/3 text-right pr-4"   %>
    <%= form.date_field :delivery_required_by,  class: field_class_flex_med %>
  </div>

 <div class="my-2 flex items-center">
  <%= form.label :delivery_time_of_day, "Delivery Time of Day", class: "w-1/3 text-right pr-4" %>
  <div class="w-1/3 flex items-center">
    <%= form.radio_button :delivery_time_of_day, 'AM', class: 'mr-2' %> AM
    <%= form.radio_button :delivery_time_of_day, 'PM', class: 'ml-4 mr-2' %> PM
  </div>
</div>

 
   <div class="my-2 flex items-center">
    <%= form.label :carrier, class: "w-1/3 text-right pr-4"   %>
    <%=  form.select :carrier, options_for_select(carrier, :selected => picksheet.carrier),{:prompt=>true}, class: field_class_flex %>
  </div>
   
  <div class="my-2 flex items-center">
    <%= form.label :carrier_delivery_date, class: "w-1/3 text-right pr-4"   %>
    <%= form.date_field :carrier_delivery_date,  class: field_class_flex%>
  </div>

   <div class="my-2 flex items-center">
    <%= form.label :number_of_boxes, class: "w-1/3 text-right pr-4"   %>
    <%= form.number_field :number_of_boxes,  class: field_class_flex_small %>
  </div>

  <div class="my-2 flex items-center">
    <%= form.label :carrier_collection_notes, "Carrier or Customer Collection Notes", class: "w-1/3 text-right pr-4"  %>
    <%= form.text_area :carrier_collection_notes,  rows: 3, class: field_class_flex%>
  </div>


  <!-- Hidden field for user_id -->
  <%= form.hidden_field :user_id, value: current_user.id %>


  <div class="w-2/3 text-right">
    <%= link_to "Back to picking sheets", picksheets_path, class: gray_button %>
    <%= form.submit "Create Picking Sheet", class: fill_button_class %>
  </div>
<% end %>
