 <div class="grid grid-cols-2 md:grid-cols-4 gap-x-6 gap-y-2 mb-2">
    <div class="font-semibold mb-1 text-right self-center">
      Date Order Placed:
    </div>
   
    <div class="border border-gray-800 rounded-lg text-left py-1 px-2 bg-gray-100">
      <%= picksheet.date_order_placed.to_formatted_s(:uk_day) %>
    </div>
  
    <div class="font-semibold mb-1 text-right self-center">
      Customer:
    </div>
   
    <div class="border border-gray-800 rounded-lg text-left py-1 px-2 bg-gray-100">
      <%= picksheet.contact.business_name %>
    </div>

    <div class="font-semibold mb-1 text-right self-center">
      Delivery Required By:
    </div>
   
    <div class="h-9 border border-gray-800 rounded-lg text-left py-1 px-2 bg-gray-100">
     <%= picksheet.delivery_required_by.to_formatted_s(:uk) unless picksheet.delivery_required_by.to_s.empty? %>
      <%= picksheet.delivery_time_of_day %>
    </div>

    <div class="font-semibold mb-1 text-right self-center">
      Customer Telephone:
    </div>
   
    <div class="h-9 border border-gray-800 rounded-lg text-left py-1 px-2 bg-gray-100">
      <%= picksheet.contact_telephone_number %>
    </div>

     <div class="font-semibold mb-1 text-right self-center">
      Order No:
    </div>
    <div class="border border-gray-800 rounded-lg text-left h-9 py-1 px-2 bg-gray-100">
      <%= picksheet.order_number %>
    </div>

    <div class="font-semibold mb-1 text-right self-center">
      Invoice Number:
    </div>
     <div class="border border-gray-800 rounded-lg text-left h-9 py-1 px-2 bg-gray-100">
      <%= picksheet.invoice_number %>
    </div>

     <div class="font-semibold mb-2 text-right self-center">
      Payment Terms:
    </div>
    <div class="border border-gray-800 rounded-lg h-9 text-left py-1 px-2 bg-gray-100"> 
      <%= picksheet.contact.payment_terms %>
    </div>
    
    <div class="font-semibold mb-1 text-right self-center">
      Carrier:
    </div>
    <div class="border border-gray-800 rounded-lg text-left  h-9 py-1 px-2 bg-gray-100">
      <%= picksheet.carrier %>
    </div>

    <div class="flex items-center space-x-2 leading-none justify-end">
       <% if picksheet.contact.sage_delivery_note == true %>  
        <%= image_tag "sage-logo.png", alt: "Sage Logo", class: "w-10 h-auto" %>
        <i class="fa-regular fa-square text-2xl"></i>
        <% end %>
    </div>
 
    <div class=" text-left h-9 py-1 px-2 ">
      <%= picksheet.contact.terms_and_conditions %>
    </div>
        
    <div class="font-semibold mb-1 text-right self-center">
      Carrier Delivery Date:
    </div>
      <div class="border border-gray-800 rounded-lg text-left  h-9 py-1 px-2 bg-gray-100">
      <%= picksheet.carrier_delivery_date.to_formatted_s(:uk_day) unless picksheet.carrier_delivery_date.to_s.empty? %>
    </div>

    <div></div>
    <div></div>

    <div class="font-semibold mb-1 text-right self-center">
       No of Boxes:
    </div>
    <div class="border border-gray-800 rounded-lg text-left h-9 w-20 py-1 px-2 bg-gray-100">
      <%= picksheet.number_of_boxes %>
    </div>
 
  </div>
</div>

