<div id="<%= dom_id picksheet %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date order placed:</strong>
    <%= picksheet.date_order_placed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Delivery required by:</strong>
    <%= picksheet.delivery_required_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order number:</strong>
    <%= picksheet.order_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact telephone number:</strong>
    <%= picksheet.contact_telephone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Invoice number:</strong>
    <%= picksheet.invoice_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Carrier:</strong>
    <%= picksheet.carrier %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Carrier delivery date:</strong>
    <%= picksheet.carrier_delivery_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number of boxes:</strong>
    <%= picksheet.number_of_boxes %>
  </p>

</div>
