 <div class="grid grid-cols-2 md:grid-cols-4  gap-x-6 gap-y-2">
    <div class="font-semibold mb-1 text-right self-center">
      Date order placed:
    </div>
   
    <div class="border border-green-800 rounded-lg text-left p-2 bg-gray-100">
      <%= picksheet.date_order_placed.to_formatted_s(:uk_day) %>
    </div>
  
    <div class="font-semibold mb-1 text-right self-center">
      Customer:
    </div>
   
    <div class="border border-green-800 rounded-lg text-left p-2 bg-gray-100">
      <%= "Penarth Cheese Shop"  %>
    </div>

    <div class="font-semibold mb-1 text-right self-center">
      Delivery required by:
    </div>
   
    <div class="border border-green-800 rounded-lg text-left p-2 bg-gray-100">
     <%= picksheet.delivery_required_by.to_formatted_s(:uk_day) unless picksheet.delivery_required_by.to_s.empty? %>
    </div>

     
    <div class="font-semibold mb-1 text-right self-center">
      Contact Telephone No.:
    </div>
   
   <div class="border border-green-800 rounded-lg text-left p-2 bg-gray-100">
   <%= picksheet.contact_telephone_number %>
    </div>
  
    <div class="font-semibold mb-1 text-right self-center">
    Order Number:
    </div>
 
    <div class="border border-green-800 rounded-lg h-10 text-left p-2 bg-gray-100">
     <%= picksheet.order_number %>
    </div>
   
    <div class="font-semibold mb-1 text-right self-center">
     Invoice Number:
    </div>
 
    <div class="border border-green-800 rounded-lg text-left h-10 p-2 bg-gray-100">
     <%= picksheet.invoice_number %>
    </div>
  
    <div class="font-semibold mb-1 text-right self-center">
     No of Boxes:
    </div>

    <div class="border border-green-800 rounded-lg text-left h-10 p-2 bg-gray-100">
      <%= picksheet.number_of_boxes %>
    </div>
    
    <div class="font-semibold mb-1 text-right self-center">
    Carrier:
    </div>

    <div class="border border-green-800 rounded-lg text-left  h-10 p-2 bg-gray-100">
     <%= picksheet.carrier %>
    </div>

    <div></div>
    <div class="inline-block p-2 underline rounded-t-lg text-sm active font-bold">
        <%= link_to "Print Picking Sheet PDF", print_picksheet_pdf_path(:id => @picksheet), { 'data-toggle' => 'tab', 'aria-controls'=>'home', 'role'=>'tab' } %>
       </div>
    
        <div class="font-semibold mb-1 text-right self-center">
          Carrier delivery date:
        </div>
  
        <div class="border border-green-800 rounded-lg text-left  h-10 p-2 bg-gray-100">
          <%= picksheet.carrier_delivery_date.to_formatted_s(:uk_day) unless picksheet.carrier_delivery_date.to_s.empty? %>
        </div>
 
  </div>
</div>
<br>
