<% content_for(:page_title, "#{@type.upcase} PICKING SHEETS")%>
<% content_for(:page_button, new_picksheet_path)%>

<div id="picksheets">

<%= render 'navigation' %>

 <div class="mb-4 p-2 w-full text-left">
  <div class="flex flex-wrap gap-2">
    <%= form_with(url: picksheets_path, method: :get, local: true, class: "flex flex-wrap gap-2 grow") do %>
      
      <!-- Date Picker for Filtering by Date Order Placed -->
      <div class="w-48">
        <label for="date_order_placed" class="block mt-1 mr-2 text-sm font-medium text-gray-800">Date Order Placed</label>
        <%= date_field_tag :date_order_placed, params[:date_order_placed], class: filter_drop_down %>
      </div>
      
      <!-- Date Picker for Filtering by Delivery Required By -->
      <div class="w-48"> 
        <label for="delivery_required_by" class="block mt-1 mr-2 text-sm font-medium text-gray-800">Delivery Required By</label>
        <%= date_field_tag :delivery_required_by, params[:delivery_required_by], class: filter_drop_down %>
      </div>

      <!-- Submit Button for Date Filter -->
      <div class="pt-2 flex place-items-center">
        <%= submit_tag "Filter", class: filter_button %>
      </div>

    <% end %>

    <!-- "Move to Cutting Room" Button -->
    <% if @type == "ASSIGNED" %>
      <div class="pt-6 flex place-items-center">
        <%= button_to "Move Orders to Cutting Room",
              move_to_cutting_room_picksheets_path,
              method: :patch,
              data: { turbo_confirm: "Are you sure you want to move all picking sheets to the Cutting Room?" },
              class: "bg-red-600 hover:bg-red-700 text-white text-lg font-bold px-6 py-3 rounded-lg shadow-lg" %>
      </div>
    <% end %>
  </div>
</div>


<!-- Table Section -->
  <div class="text-left text-sm ml-4 m-1">
    <i class="fa-solid fa-circle-info"></i> Click any underlined column header to sort table
  </div> 

   <div class="m-4">
  <!-- Table Container -->
  <div class="h-screen overflow-hidden rounded-lg border border-solid">
    
    <!-- Table with Sticky Headers -->
    <div class="relative overflow-x-auto">
      <table class="w-full table-auto text-left">
        <!-- Table Header (Sticky at the top) -->
        <thead class="sticky top-0 bg-gray-200 text-xs text-gray-700 uppercase">
          <tr class="bg-gray-200">
            <th scope="col" class="px-2 py-3 text-left w-24">
               Status
            </th>
            <th scope="col" class="px-2 pl-4 py-3 underline underline-offset-2 w-32">
              <%= show_sort_indicator_for("date_order_placed") %>
              <%= sort_link(column: "date_order_placed", label: "Order Placed") %>
            </th>

            <th scope="col" class="px-2 pl-4 py-3 underline underline-offset-2 w-32">
              <%= show_sort_indicator_for("delivery_required_by") %>
              <%= sort_link(column: "delivery_required_by", label: "Delivery By") %>
            </th>

            <th scope="col" class="px-2 py-3 w-64 text-left underline underline-offset-2 text-nowrap">
              <%= show_sort_indicator_for("business_name") %>
              <%= sort_link(column: "business_name", label: "Customer") %>
            </th>

            <th scope="col" class="px-2 py-3 w-24 text-center">
               Items/Weight
            </th>

            <th scope="col" class="px-2 py-3 w-48">
               Carrier / Del Date
            </th>
           
            <th scope="col" class="px-2 py-3 w-24 text-center">
              No of Boxes
            </th>

            <th scope="col" class="px-2 py-3 w-24">
              Order Taken By
            </th>

             <th scope="col" class="px-2 py-3 w-24">
              Order Number
            </th>

            <th scope="col" class="px-2 py-3 w-24 underline underline-offset-2">
              <%= show_sort_indicator_for("invoice_number") %>
              <%= sort_link(column: "invoice_number", label: "Invoice No.") %>
            </th>
          </tr>
        </thead>
      </table>
    
      <!-- Table Body with Scrolling -->
       <div class="overflow-y-auto" style="max-height: calc(100vh - 320px);">
        
        <table class="w-full table-auto text-left text-sm">
          <tbody>
            <% @picksheets.each do |picksheet| %>
              <tr class="bg-white border-b hover:bg-gray-100">
                <td class="px-2 py-3 border-r-2 text-left font-semibold w-24 
                <%= 'text-green-600' if picksheet.status == 'Assigned' %>
                 <%= 'text-blue-600' if picksheet.status == 'Cutting' %>">
                  <%= picksheet.status %>
                </td>

                <td scope="row" class="px-3 py-3 border-r-2 underline underline-offset-2 w-32">
                  <%= link_to picksheet.date_order_placed.to_formatted_s(:uk), picksheet %>
                </td>

                <td class="px-2 py-3 border-r-2 w-32">
                  <%= picksheet.delivery_required_by.to_formatted_s(:uk) unless picksheet.delivery_required_by.to_s.empty? %>
                </td>

                <td class="px-2 py-3 border-r-2 w-64 whitespace-nowrap underline underline-offset-2">
                  <% unless picksheet.contact.to_s.empty? %>
                    <%= link_to picksheet.contact.business_name, edit_picksheet_path(picksheet) %>
                  <% end %>
                </td>

                <td class="px-2 py-3 border-r-2 w-24 text-center">
                  <%=  picksheet.number_of_items %> /  <%=  picksheet.total_weight_kg %> kg
                </td>

                <td class="px-2 py-3 border-r-2 w-48">
                 <%= picksheet.carrier %>
                 <%= "(#{picksheet.carrier_delivery_date.to_formatted_s(:uk)})" unless picksheet.carrier_delivery_date.to_s.empty? %>
                </td>
               
                <td class="px-2 py-3 border-r-2 w-24 text-center">
                  <%= picksheet.number_of_boxes %>
                </td>

                <td class="px-2 py-3 border-r-2 w-24">
                  <%= picksheet.user.full_name %>
                </td>

                 <td class="px-2 py-3 border-r-2 w-24">
                  <%= picksheet.order_number %>
                </td>

                <td class="px-2 py-3 border-r-2 w-24">
                  <%= picksheet.invoice_number %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






