<% content_for(:page_title, "#{@type.upcase} PICKING SHEETS")%>
<% content_for(:page_button, new_picksheet_path)%>

<div id="picksheets">

<!-- Navigation Section -->
<div class="mx-auto flex justify-center gap-4 mb-2 border-b-2 pb-2">
  <%= link_to "All", picksheets_path, class: "nav-link #{'active' if @type == 'ALL'} hover:bg-gray-200" %>
  <%= link_to "Open", open_picksheets_picksheets_path, class: "nav-link #{'active' if @type == 'OPEN'} hover:bg-gray-200" %>
  <%= link_to "Assigned", assigned_picksheets_picksheets_path, class: "nav-link #{'active' if @type == 'ASSIGNED'} hover:bg-gray-200" %>
  <%= link_to "Due This Week/ASAP", 
    picksheets_path(start_date: Date.today.beginning_of_week, end_date: Date.today.end_of_week, include_asap: true), 
    class: "nav-link #{'active' if @type == 'DUE_THIS_WEEK'} hover:bg-gray-200" %>
  <%= link_to "Due Later", 
    picksheets_path(start_date: (Date.today + 7).beginning_of_week, end_date: nil), 
    class: "nav-link #{'active' if @type == 'DUE_LATER'} hover:bg-gray-200" %>
  <%= link_to "Shipped", shipped_picksheets_picksheets_path, class: "nav-link #{'active' if @type == 'SHIPPED'} hover:bg-gray-200" %>
</div>


 <!-- Filter Section -->
<div class="mb-4 p-2 w-full text-left">
  <%= form_with(url: picksheets_path, method: :get, local: true, class: "flex gap-2") do %>

    <!-- Date Picker for Filtering by Date Order Placed -->
    <div class="w-48">
      <label for="date_order_placed" class="block mt-1 mr-2 text-sm font-medium text-gray-800">Date Order Placed</label>
      <%= date_field_tag :date_order_placed, params[:date_order_placed], class: filter_drop_down %>
    </div>
    
    <!-- Date Picker for Filtering by Delivery Required By -->
    <div class="w-48"> 
      <label for="delivery_required_by" class="block mt-1 mr-2 text-sm font-medium text-gray-800">Delivery Required By</label>
      <%= date_field_tag :delivery_required_by, params[:delivery_required_by], class: filter_drop_down %>
    </div>

    <!-- Submit Button for Date Filter -->
    <div class="pt-6 flex place-items-center">
      <%= submit_tag "Filter", class: filter_button %>
    </div>

  <% end %>
</div>

<!-- Table Section -->
  <div class="text-left text-sm ml-4 m-1">
    <i class="fa-solid fa-circle-info"></i> Click any underlined column header to sort table
  </div> 

   <div class="m-4">
  <!-- Table Container -->
  <div class="h-3/4 overflow-hidden rounded-lg border border-solid">
    
    <!-- Table with Sticky Headers -->
    <div class="relative overflow-x-auto">
      <table class="w-full table-auto text-left">
        <!-- Table Header (Sticky at the top) -->
        <thead class="sticky top-0 bg-gray-200 text-xs text-gray-700 uppercase">
          <tr class="bg-gray-200">
            <th scope="col" class="px-2 py-3 text-left w-24">
               Status
            </th>
            <th scope="col" class="px-2 pl-4 py-3 underline underline-offset-2 w-32">
              <%= show_sort_indicator_for("date_order_placed") %>
              <%= sort_link(column: "date_order_placed", label: "Order Placed") %>
            </th>
            <th scope="col" class="px-2 pl-4 py-3 underline underline-offset-2 w-32">
              <%= show_sort_indicator_for("delivery_required_by") %>
              <%= sort_link(column: "delivery_required_by", label: "Delivery By") %>
            </th>
            <th scope="col" class="px-2 py-3 w-64 text-left underline underline-offset-2 text-nowrap">
              <%= show_sort_indicator_for("business_name") %>
              <%= sort_link(column: "business_name", label: "Customer") %>
            </th>
            <th scope="col" class="px-2 py-3 w-48">
               Carrier / Del Date
            </th>
           
            <th scope="col" class="px-2 py-3 w-24 text-center">
              No of Boxes
            </th>
            <th scope="col" class="px-2 py-3 w-48">
              Order Taken By
            </th>
            <th scope="col" class="px-2 py-3 w-80 underline underline-offset-2">
              <%= show_sort_indicator_for("invoice_number") %>
              <%= sort_link(column: "invoice_number", label: "Invoice No.") %>
            </th>
          </tr>
        </thead>
      </table>
    
      <!-- Table Body with Scrolling -->
      <div class="overflow-y-auto" style="max-height: calc(24rem);">
        <table class="w-full table-auto text-left text-sm">
          <tbody>
            <% @picksheets.each do |picksheet| %>
              <tr class="bg-white border-b hover:bg-gray-100">
                <td class="px-2 py-3 border-r-2 text-left w-24">
                  <%= picksheet.status %>
                </td>
                <td scope="row" class="px-3 py-3 border-r-2 underline underline-offset-2 w-32">
                  <%= link_to picksheet.date_order_placed.to_formatted_s(:uk_time), picksheet %>
                </td>
                <td class="px-2 py-3 border-r-2 w-32">
                  <%= picksheet.delivery_required_by.to_formatted_s(:uk_time) unless picksheet.delivery_required_by.to_s.empty? %>
                </td>
                <td class="px-2 py-3 border-r-2 w-64 whitespace-nowrap underline underline-offset-2">
                  <% unless picksheet.contact.to_s.empty? %>
                    <%= link_to picksheet.contact.business_name, edit_picksheet_path(picksheet) %>
                  <% end %>
                </td>
                <td class="px-2 py-3 border-r-2 w-48">
                 <%= picksheet.carrier %>
                 <%= "(#{picksheet.carrier_delivery_date.to_formatted_s(:uk_time)})" unless picksheet.carrier_delivery_date.to_s.empty? %>
                </td>
               
                <td class="px-2 py-3 border-r-2 w-24 text-center">
                  <%= picksheet.number_of_boxes %>
                </td>
                <td class="px-2 py-3 border-r-2 w-48">
                  <%= picksheet.user.username %>
                </td>
                <td class="px-2 py-3 border-r-2 w-80">
                  <%= picksheet.invoice_number %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






