
<% content_for(:page_title, "ALL - PICKING SHEETS")%>
<% content_for(:page_button, "picksheets/new")%>

<div id="picksheets">

  <!-- Filter Section -->
   <div class="mb-4 p-2 w-full md:max-w-lg text-right">
     <%= form_with(url: picksheets_path, method: :get, local: true, class: "flex gap-2") do %>
    
        <div class="w-32"> 
          <label for="month" class="block mt-1 mr-2 text-xs font-medium text-gray-700">Req'd By Month</label>
          <%= select_tag :month, options_for_select((1..12).map { |m| [Date::MONTHNAMES[m], m] }, params[:month]), 
                        include_blank: "Select ", class: filter_drop_down %>
        </div>

        <div class="w-32">
          <label for="year" class="block mt-1  mr-2 text-xs font-medium text-gray-700">Req'd By Year</label>
          <%= select_tag :year, options_for_select((2023..Date.today.year).to_a.reverse, params[:year]), 
                        include_blank: "Select ", class: filter_drop_down%>
        </div>

       <div class="w-40">
        <label for="status" class="block mt-1 mr-2  text-xs font-medium text-gray-700">Status</label>
        <%= select_tag :status, options_for_select(pick_status, params[:status]), 
                 include_blank: "Select", class: filter_drop_down %>
        </div>


        <div class="pt-5 flex place-items-center">
          <%= submit_tag "Filter", class: filter_button %>
        </div>

         <div class="pt-5 flex place-items-center">
          <%= link_to "Clear", picksheets_path, class: clear_filter_button %>
        </div>
      <% end %>
    </div>

  <div class="text-left text-sm m-2">
    <i class="fa-solid fa-circle-info"></i> Click any underlined column header to sort table
  </div> 

    <div class=" m-4">
      <div class="h-96 border-separate overflow-clip rounded-lg border border-solid flex flex-col">
        <table class="w-full table-fixed">
          <thead class="sticky top-0 text-xs text-gray-700 uppercase bg-gray-200 ">
          <tr class="bg-gray-200 sticky top-0">
            <th scope="col" class="px-6 py-3 text-centre ">
               Status
             </th>
             <th scope="col" class="sticky top-0 px-6 pl-4 py-3 underline underline-offset-2">
                <%= show_sort_indicator_for("date_order_placed") %>
                <%= sort_link(column: "date_order_placed", label: "Date Order Placed") %>
             </th>
             <th scope="col" class="sticky top-0 px-6 pl-4 py-3 underline underline-offset-2">
                <%= show_sort_indicator_for("delivery_required_by") %>
                <%= sort_link(column: "delivery_required_by", label: "Delivery Req'd By") %>
             </th>
             <th scope="col" class="sticky top-0 px-6 py-3 underline underline-offset-2">
                <%= show_sort_indicator_for("business_name") %>
                <%= sort_link(column: "business_name", label: "Business Name") %>
             </th>
             <th scope="col" class="sticky top-0 px-6 py-3 w-30  underline underline-offset-2">
                <%= show_sort_indicator_for("invoice_number") %>
                <%= sort_link(column: "invoice_number", label: "Invoice No.") %>
             </th>
             <th scope="col" class="px-6  pl-4 py-3 ">
             Cust Phone No.
             </th>
             <th scope="col" class="px-6 py-3  pl-4">
                 Carrier
             </th>
             <th scope="col" class="px-6 py-3 text-centre ">
                No of Line Items
             </th>
             <th scope="col" class="px-6 py-3 text-centre ">
                No of Boxes
             </th>
             <th scope="col" class="px-6 py-3  ">
             Order Taken By
             </th>
         </tr>
          </thead>
        </table>
        <div class="flex-1 overflow-y-auto">
          <table class="w-full table-fixed text-sm">
            <tbody>
              <% @picksheets.each do |picksheet| %>
                <tr class="bg-white border-b  hover:bg-gray-100">
                    <td class="px-6 py-4 text-center">
                      <%=  picksheet.status %>
                    </td>
                    <td scope="row" class="px-6 py-4 underline underline-offset-2  whitespace-nowrap">
                       <%= link_to picksheet.date_order_placed.to_formatted_s(:uk_time), picksheet %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <%= picksheet.delivery_required_by.to_formatted_s(:uk_time) unless picksheet.delivery_required_by.to_s.empty? %>
                    </td>
                    <td class="px-6 py-4 text-center">
                    <% unless picksheet.contact.to_s.empty? %>
                      <%=  picksheet.contact.business_name %>
                      <% end %>
                    </td>
                    <td class=" w-30 px-6 py-4 text-center">
                      <%=  picksheet.invoice_number %>
                    </td>
                    <td class="px-6 py-4 truncate">
                      <%=  picksheet.contact_telephone_number %>
                    </td>
                    <td class="px-6 py-4  text-center">
                      <%=  picksheet.carrier %>
                    </td>
                    <td class="px-6 py-4 text-center ">
                      <%=  picksheet.picksheet_items.count %>
                    </td>
                    <td class="px-6 py-4 text-center ">
                       <%= picksheet.number_of_boxes %>
                    </td>
                    <td class="px-6 py-4  ">
                 
                    </td>
                </tr>
           
               <% end %>
            </tbody>
          </table>
        </div>
        
  </body>
</div>





