
<% content_for(:page_title, "SALE & SHIP - PICKING SHEET")%>
<% content_for(:page_button, "picksheets/new")%>

<div class="mx-auto md:w-2/3 w-full flex">
<div class="border border-double border-4 border-green-800 p-2 rounded-lg">
  <div class="mx-auto">
   
    
<main class="container">
  <div class="header">

    <%= render @picksheet %>
   </div>
   
     <div class="relative overflow-x-auto">
         <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
             <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                 <tr>
                     <th scope="col" class="px-2 py-3 w-25">
                         Product
                     </th>
                     <th scope="col" class="px-2 py-3 text-left w-25">
                         Size
                     </th>
                     <th scope="col" class="px-2 py-3 text-right  w-25">
                        Count
                     </th>
                     <th scope="col" class="px-2 py-3 text-left  w-25">
                        Weight (calc)
                     </th>
                     <th scope="col" class="px-2 py-3 text-center w-25 ">
                        Code
                     </th>
                     <th scope="col" class="px-2 py-3 text-center w-25">
                         Price
                     </th>
                     <th scope="col" class="px-2 py-3  w-25">
                         B/B Date
                     </th>
                     <th colspan="2" class="px-2 py-3 text-right  w-25">
                     </th>
                     
                 </tr>
             </thead>
            <tbody>
            <tr>
              <td colspan="3">
                <div class="mt-4 mb-4">
                 <%= link_to " Add New Line Item ",
                                 new_picksheet_picksheet_item_path(@picksheet),
                                data: { turbo_frame: dom_id(PicksheetItem.new) },
                                class: tight_clear_button_class %>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="9">
                  <%= turbo_frame_tag PicksheetItem.new %>
                 </td>
              </tr>
              <tr>
                 <td colspan="9">
                   <%= turbo_frame_tag "picksheet_items" do %>
                    <%= render @picksheet_items, picksheet: @picksheet %>
                    <% end %>
                </td>
              </tr>
              
             </tbody>
          </table>  
     
          <br><br><br><br>
     
    <%= link_to "Edit this picksheet", edit_picksheet_path(@picksheet), class: gray_button %>
    <%= link_to "Back to picksheets", picksheets_path, class: gray_button %>
    <div class="inline-block ml-2">
    <%= button_to "Delete Picking Sheet",
                    @picksheet,
                    method: :delete,
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    class: gray_button %>
    </div>
  </div>
  </div>
</div>
