<div id="<%= dom_id waste_record %>">

<div class="grid grid-rows-1 grid-cols-7">
    <p class="my-1 border border-gray-400 text-center p-2">
      <%= waste_record.waste_date.to_formatted_s(:uk_clean_date) %>
    </p>
    <p class="my-1 border border-gray-400 text-center p-2">
       <%= waste_record.wedges %>
    </p>
    <p class="my-1 border border-gray-400 text-center p-2">
       <%= waste_record.cooking %>
    </p>
    <p class="my-1 border border-gray-400 text-center p-2">
       <%= waste_record.blue %>
    </p>
    <p class="my-1 border border-gray-400 text-center p-2">
       <%= waste_record.t_and_bs %>
    </p>
    <p class="my-1 border border-gray-400 text-center p-2">
       <%= waste_record.waste %>
    </p>   
    <p class="my-1 border border-green-400 text-center p-2">

       <%= link_to "Fails Edit", edit_waste_record_path(waste_record)%>
    </p>    
  </div>
</div>
