<%= form_with(model: sample, class: "contents") do |form| %>
  <% if sample.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
        <% sample.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="my-5">
    <%= form.label :indicator %>
   <%=  form.select :indicator, options_for_select(trafficlights, :selected => sample.indicator),{:prompt=>true}, class: field_class_flex %>
  </div>

  <div class="my-5">
    <%= form.label :received_date %>
    <%= form.datetime_field :received_date, class: field_class_flex %>
  </div>


  <div class="my-5">
    <%= form.label :sample_no %>
    <%= form.text_field :sample_no, class: field_class_flex %>
  </div>

  <div class="my-5">
    <%= form.label :received_date %>
    <%= form.datetime_field :received_date, class: field_class_flex %>
  </div>

  <div class="my-5">
    <%= form.label :sample_description %>
    <%= form.text_field :sample_description, class: field_class_flex %>
  </div>

 
 
  <div class="inline">
    <%= form.submit class: fill_button_class %>
  </div>
<% end %>
