<div class="max-w-xl mx-auto mt-4 bg-white p-4">
  <%= form_with(model: sample, local: true) do |form| %>

    <%= form_errors_for(sample) %>

    <div class="grid grid-cols-2 gap-x-5 gap-y-3 items-center">

      <!-- Indicator -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :indicator %>
      </label>
      <div class="text-left">
        <%= form.select :indicator, options_for_select(trafficlights, sample.indicator), { prompt: true }, class: field_class_flex %>
      </div>

      <!-- Received Date -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :received_date %>
      </label>
      <div class="text-left">
        <%= form.datetime_field :received_date, class: field_class_flex %>
      </div>

      <!-- Sample Number -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :sample_no %>
      </label>
      <div class="text-left">
        <%= form.text_field :sample_no, class: field_class_flex %>
      </div>

      <!-- Makesheet -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :makesheet_id %>
      </label>
      <div class="text-left">
        <%= form.collection_select :makesheet_id, @makesheets, :id, :make_date_formatted_batch_grade, { prompt: true }, class: field_class_flex %>
      </div>

      <!-- Sample Description -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :sample_description %>
      </label>
      <div class="text-left">
        <%= form.text_area :sample_description, rows: 6, class: field_class_flex %>
      </div>

      <!-- Back to Index -->
      <div class="text-left mt-2">
        <%= link_to "â† Back to Samples", samples_path, class: gray_button %>
      </div>

      <!-- Submit -->
      <div class="text-left mt-2">
        <%= form.submit "Save Sample", class: fill_button_class %>
      </div>

    </div>
  <% end %>
</div>
