<div id="<%= dom_id sample %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Sample no:</strong>
    <%= sample.sample_no %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Received date:</strong>
    <%= sample.received_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sample description:</strong>
    <%= sample.sample_description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Suite:</strong>
    <%= sample.suite %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Classification:</strong>
    <%= sample.classification %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Schedule:</strong>
    <%= sample.schedule %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Barcode count:</strong>
    <%= sample.barcode_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Coagulase positive staphylococcus 37c umqv9:</strong>
    <%= sample.Coagulase_positive_Staphylococcus_37C_UMQV9 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Coagulase positive staphylococcus 37c umqzw:</strong>
    <%= sample.Coagulase_positive_Staphylococcus_37C_UMQZW %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Escherichia coli b-glucuronidase:</strong>
    <%= sample.Escherichia_coli_B_Glucuronidase %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Listeria species:</strong>
    <%= sample.Listeria_Species %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Listeria species 37:</strong>
    <%= sample.Listeria_species_37 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Presumptive coliforms:</strong>
    <%= sample.Presumptive_Coliforms %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Salmonella:</strong>
    <%= sample.Salmonella %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Staphylococcus aureus enterotoxins:</strong>
    <%= sample.Staphylococcus_aureus_enterotoxins %>
  </p>

</div>
