<div id="<%= dom_id sample %>" >
<div class="border border-gray-800 rounded-lg p-4">
<div class="grid md:grid-cols-3 lg:grid-cols-5">
  <p class="my-5">
    <strong class="block font-medium mb-1">Sample no:</strong>
    <%= sample.sample_no %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Received date:</strong>
    <%= sample.received_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sample description:</strong>
    <%= sample.sample_description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sample description:</strong>
    <%= sample.make_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Suite:</strong>
    <%= sample.suite %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Classification:</strong>
    <%= sample.classification %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Schedule:</strong>
    <%= sample.schedule %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Barcode count:</strong>
    <%= sample.barcode_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Coagulase positive staphylococcus 37c umqv9:</strong>
    <%= sample.coagulase_positive_staphylococcus_37c_umqv9 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Coagulase positive staphylococcus 37c umqzw:</strong>
    <%= sample.coagulase_positive_staphylococcus_37c_umqzw %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Escherichia coli b-glucuronidase:</strong>
    <%= sample.escherichia_coli_b_glucuronidase %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Listeria species:</strong>
    <%= sample.listeria_species %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Listeria species 37:</strong>
    <%= sample.listeria_species_37 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Presumptive coliforms:</strong>
    <%= sample.presumptive_coliforms %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Salmonella:</strong>
    <%= sample.salmonella %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Staphylococcus aureus enterotoxins:</strong>
    <%= sample.staphylococcus_aureus_enterotoxins %>
  </p>
</div>
</div>
</div>
