<div id="<%= dom_id cleaning_foreign_body_check %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= cleaning_foreign_body_check.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Milk pipeline:</strong>
    <%= cleaning_foreign_body_check.milk_pipeline %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cheese vat:</strong>
    <%= cleaning_foreign_body_check.cheese_vat %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Used mill:</strong>
    <%= cleaning_foreign_body_check.used_mill %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cooler moulds tables:</strong>
    <%= cleaning_foreign_body_check.cooler_moulds_tables %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hand equipment:</strong>
    <%= cleaning_foreign_body_check.hand_equipment %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Blue food contact equipment:</strong>
    <%= cleaning_foreign_body_check.blue_food_contact_equipment %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Plastic sleeves:</strong>
    <%= cleaning_foreign_body_check.plastic_sleeves %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Metal shovels:</strong>
    <%= cleaning_foreign_body_check.metal_shovels %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Aprons:</strong>
    <%= cleaning_foreign_body_check.aprons %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Drain lower level:</strong>
    <%= cleaning_foreign_body_check.drain_lower_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Drain upper level:</strong>
    <%= cleaning_foreign_body_check.drain_upper_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Presses:</strong>
    <%= cleaning_foreign_body_check.presses %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sinks:</strong>
    <%= cleaning_foreign_body_check.sinks %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Floor difficult areas:</strong>
    <%= cleaning_foreign_body_check.floor_difficult_areas %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Footbaths:</strong>
    <%= cleaning_foreign_body_check.footbaths %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Internal door handles:</strong>
    <%= cleaning_foreign_body_check.internal_door_handles %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Change chlorine:</strong>
    <%= cleaning_foreign_body_check.change_chlorine %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Floor under handwash:</strong>
    <%= cleaning_foreign_body_check.floor_under_handwash %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Compressors:</strong>
    <%= cleaning_foreign_body_check.compressors %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Additional comments:</strong>
    <%= cleaning_foreign_body_check.additional_comments %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Staff:</strong>
    <%= cleaning_foreign_body_check.staff_id %>
  </p>

</div>
