<div class="max-w-xl mx-auto mt-4 bg-white p-4">
  <%= form_with(model: @cleaning_foreign_body_check, data: { turbo: "false" }, local: true) do |form| %>

    <%= form_errors_for(@cleaning_foreign_body_check) %>

   <div class="grid grid-cols-[350px_auto] gap-x-6 gap-y-3 items-start">


      <!-- Date -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :date %>
      </label>
      <div class="text-left">
        <%= form.date_field :date, class: field_class_flex_med, readonly: true  %>
      </div>

     <% equipment_list = [
        { field: :cheese_vat, label: "Cheese Vat", description: "including outlet, butterfly valve, balance tank & pipework, Vat Stirring & Cutting Blades" },
        { field: :used_mill, label: "Used Mill", description: "plus frame" },
        { field: :cooler_moulds_tables, label: "Cooler, Cheese Moulds and Tables" },
        { field: :hand_equipment, label: "Hand equipment", description: "trimming knives & hand cut cutting knives - single & multiple blade" },
        { field: :blue_food_contact_equipment, label: "Blue Food Contact Equipment", description: "Shovels/Scrapers" },
        { field: :plastic_sleeves, label: "Plastic Sleeves", description: "tabs, frames and mesh" },
        { field: :metal_shovels, label: "Metal Shovels" },
        { field: :aprons, label: "Aprons", description: "plus submerge in chlorine and allow to dry" },
        { field: :drain_lower_level, label: "Drain - lower level", description: "disinfectant sluice" },
        { field: :drain_upper_level, label: "Drain - upper level", description: "disinfectant sluice" },
        { field: :presses, label: "Presses", description: "clean and disinfect" },
        { field: :sinks, label: "Sinks", description: "Hand Wash/Washing Up & Dip Tank" },
        { field: :floor_difficult_areas, label: "Floor - difficult areas", description: "disinfectant sluice" },
        { field: :footbaths, label: "Footbaths x 2", description: "clean & refresh VS2" },
        { field: :internal_door_handles, label: "Internal Door Handles" },
        { field: :change_chlorine, label: "Change chlorine", description: "for scourers" },
        { field: :floor_under_handwash, label: "Floor under Handwash", description: "Washing Up & Dip Tank" },
        { field: :compressors, label: "Compressors", description: "empty pressure vessel" }
      ] %>

      <% equipment_list.each do |item| %>
        <div class="text-right">
          <%= form.label item[:field], item[:label], class: "font-semibold text-gray-700" %><br>
          <% if item[:description].present? %>
            <span class="text-sm text-gray-500"><%= item[:description] %></span>
          <% end %>
        </div>
        <div class="text-left flex items-start pt-1">
          <%= form.check_box item[:field], class: field_class_flex_small %>
        </div>
      <% end %>


      <!-- Additional Comments -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :additional_comments %>
      </label>
      <div class="text-left">
        <%= form.text_area :additional_comments, rows: 3, class: field_class_flex %>
      </div>

     <!-- Staff 1 -->
        <label class="text-right font-semibold text-gray-700">
          <%= form.label :staff_id, "Staff 1" %>
        </label>
        <div class="text-left">
          <%= form.collection_select :staff_id, @staffs, :id, :full_name, { prompt: true }, class: field_class_flex %>
        </div>

        <!-- Staff 2 -->
        <label class="text-right font-semibold text-gray-700">
          <%= form.label :staff_id_2, "Staff 2" %>
        </label>
        <div class="text-left">
          <%= form.collection_select :staff_id_2, @staffs, :id, :full_name, { prompt: true }, class: field_class_flex %>
        </div>

        <!-- Staff 3 -->
        <label class="text-right font-semibold text-gray-700">
          <%= form.label :staff_id_3, "Staff 3" %>
        </label>
        <div class="text-left">
          <%= form.collection_select :staff_id_3, @staffs, :id, :full_name, { prompt: true }, class: field_class_flex %>
        </div>


      <!-- Back to Index (left column) -->
      <div class="text-left mt-2">
        <%= link_to "â† Back to Week View", week_view_cleaning_foreign_body_checks_path, class: clear_button_class %>
      </div>

      <!-- Submit (right column) -->
      <div class="text-left mt-2">
        <%= form.submit "Save", class: fill_button_class %>
      </div>

    </div>

  <% end %>
</div>
