<p style="font-size: 16px; font-weight: bold; margin-bottom: 20px; color: #333333;">
  Welcome to Lincolnshire Poacher Cheese, <%= @user.first_name.presence || @user.email %>!
</p>
<p>Thanks for signing up.</p>

<p>
  You can sign in to your account here:<br>
  <a href="<%= @sign_in_url %>"><%= @sign_in_url %></a>
</p>

<p>
  Forgot your password? Reset it here:<br>
  <a href="<%= @forgot_password_url %>"><%= @forgot_password_url %></a>
</p>


