<% content_for(:page_title, "Invoices")%>
<% content_for(:page_button, "invoices/new")%>
<% title "Poacher: Invoices" %>

<div class="mx-auto w-2/3 text-center"> 

   <!-- Filter Section -->
   <div class="mb-4 p-2 max-w-full text-right">
     <%= form_with(url: invoices_path, method: :get, local: true, class: "flex gap-2") do %>
    
        <div class="w-40"> 
          <label for="month" class="block mt-1 text-xs font-medium text-gray-700">Month</label>
          <%= select_tag :month, options_for_select((1..12).map { |m| [Date::MONTHNAMES[m], m] }, params[:month]), 
                        include_blank: "Select ", class: filter_drop_down %>
        </div>

        <div class="w-40">
          <label for="year" class="block mt-1 text-xs font-medium text-gray-700">Year</label>
          <%= select_tag :year, options_for_select((2020..Date.today.year).to_a.reverse, params[:year]), 
                        include_blank: "Select ", class: filter_drop_down%>
        </div>

        <div class="w-40">
          <label for="account" class="block mt-1 text-xs font-medium text-gray-700">Account</label>
          <%= select_tag :account, 
              options_for_select(Invoice.distinct.pluck(:account).compact.sort, params[:account]), 
              include_blank: "Select", 
              class: filter_drop_down %>
        </div>

        <div class="pt-5 flex place-items-center">
          <%= submit_tag "Filter", class: filter_button %>
        </div>

        <div class="pt-5 flex place-items-center">
          <%= link_to "Clear", invoices_path, class: clear_filter_button %>
        </div>

         <div class="pt-5 flex place-items-end">
            <%= link_to "See Summary Table", summary_invoices_path, class: link_class %>
        </div>
      <% end %>
    </div>
    <!-- Filter Section End -->

    <!-- Table Section -->
    <div class="w-full"> 
      <div class="overscroll-none">
        <table class="table-fixed relative w-full border border-gray-400 text-sm text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 ">
          <tr class="bg-gray-200 sticky top-0">
                  <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                    Number
                  </th>
                  <th scope="col" class="sticky top-0 px-4 py-2 pr-2 text-left">
                    Account
                  </th>
                  <th id="col" class="sticky top-0 px-4 py-2 text-left">
                    Date
                  </th>
                  <th scope="col" class="sticky top-0 px-4 py-2 text-right">
                    Amount
                  </th>
                  <th scope="col" class="sticky top-0 px-4 py-2 text-right">
                    Weight
                  </th>
                  
              </tr>
          </thead>
          <tbody class="overflow-contain">
          
              <%= render @invoices %> 

          </tbody>
      </table>
  </div> 
</div>

</div>








