<% content_for(:page_title, "INVOICES SUMMARY")%>
<div class="mx-auto w-full text-centre">


<!-- Year Selection Form -->
    <div class="mb-4 p-2 max-w-full text-right">
     <%= form_with(url: summary_invoices_path, method: :get, local: true, class: "flex gap-2") do %>
    
        <div class="w-40">
          <label for="year" class="block mt-1 text-xs font-medium text-gray-700">Year</label>
          <%= select_tag :year, options_for_select((2020..Date.today.year).to_a.reverse, params[:year]), 
                        include_blank: "Select ", class: filter_drop_down%>
        </div>

         <div class="pt-5 flex place-items-center">
          <%= submit_tag "Filter", class: filter_button %>
        </div>

        <div class="pt-5 flex place-items-center">
          <%= link_to "Clear", summary_invoices_path, class: clear_filter_button %>
        </div>

         <div class="pt-5 flex place-items-end">
            <%= link_to "See Data Entry", invoices_path, class: link_class %>
        </div>
      <% end %>
    </div>


<!-- Summary Table -->
 <h1 class="text-2xl font-semibold">Invoices Sales Summary</h1>
<table class="w-full border-collapse border border-gray-300">
  <thead>
    <tr class="bg-gray-200">
      <th class="border border-gray-300 px-4 py-2">Month</th>
      <% 1.upto(12) do |month| %>
        <th class="border border-gray-300 px-4 py-2"><%= Date::ABBR_MONTHNAMES[month] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white">
      <td class="border border-gray-300 px-4 py-2 font-bold">Total Sales (£)</td>
      <% 1.upto(12) do |month| %>
        <td class="border border-gray-300 px-4 py-2 text-right">
          <%= number_to_currency(@monthly_sales.dig(month, :amount) || 0, precision: 0) %>
        </td>
      <% end %>
    </tr>
    <tr class="bg-gray-100">
      <td class="border border-gray-300 px-4 py-2 font-bold">Total Weight (kg)</td>
      <% 1.upto(12) do |month| %>
        <td class="border border-gray-300 px-4 py-2 text-right">
          <%= (@monthly_sales.dig(month, :weight) || 0).round(0) %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<br>
<hr>
<br>
<!-- By Account Table -->
 <h1 class="text-2xl font-semibold">By Account Sales Summary</h1>
<table class="w-full border-collapse border border-gray-300">
  <thead>
    <tr class="bg-gray-200 text-gray-700">
      <th class="border border-gray-300 px-4 py-2">Account</th>
      <% (1..12).each do |month| %>
        <th class="border border-gray-300 px-4 py-2"><%= Date::ABBR_MONTHNAMES[month] %></th>
      <% end %>
      <th class="border border-gray-300 px-4 py-2">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr class="odd:bg-white even:bg-gray-100">
        <td class="border border-gray-300 px-4 py-2 font-semibold"><%= account %></td>
        <% total_sales = 0 %>
        <% (1..12).each do |month| %>
          <% sales = @monthly_totals[account]&.find { |data| data[1] == month } %>
          <% amount = sales ? sales[2] : 0 %>
          <% total_sales += amount %>
          <td class="border border-gray-300 px-4 py-2"><%= number_to_currency(amount, precision: 0) %></td>
        <% end %>
        <td class="border border-gray-300 px-4 py-2 font-bold text-green-600"><%= number_to_currency(total_sales, precision: 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>



