<%= form_with(model: traceability_record, class: "contents") do |form| %>
  
  <% if traceability_record.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(traceability_record.errors.count, "error") %> prohibited this traceability_record from being saved:</h2>

      <ul>
        <% traceability_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-rows-2 grid-cols-2">

    <div class="my-2">
      <%= form.label :makesheet_id %>
      <%= form.collection_select(:makesheet_id, @makesheets, :id, :make_date_formatted_batch_grade ,{:prompt=>true},  {class:field_class_flex}) %>
    </div> 

    <div class="my-2">
      <%= form.label :date_started_batch, " Started Batch" %>
      <%= form.date_field :date_started_batch, :value => Time.now.strftime("%Y-%m-%d") , class: field_class_flex %>
    </div>

      <div class="my-2">
      <%= form.label :batch_code %>
      <%= form.text_field :batch_code, :value => traceability_record.makesheet.batch, class: field_class_flex, disabled: true %>
    </div>

    <div class="my-2">
      <%= form.label :date_finished_batch, " Finished Batch"  %>
      <%= form.date_field :date_finished_batch, class: field_class_flex %>
    </div>
  </div>

   <div class= "text-base font-bold text-left underline underline-offset-2">
      Individual Cheese Weights (Kg)
    </div>

  <div class="grid grid-rows-5 grid-cols-7">

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_1, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_2, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_3, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_4, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_5, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_6, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_7, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_8, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_9, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_10, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_11, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_12, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_13, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_14, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_15, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_16, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_17, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_18, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_19, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_20, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_21, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_22, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_23, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_24, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_25, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_26, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_27, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_28, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_29, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_30, step: :any, class: field_class_flex_small %>
    </div>

      <div class="my-1">
      <%= form.number_field :individual_cheese_weight_31, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_32, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_33, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_34, step: :any, class: field_class_flex_small %>
    </div>

    <div class="my-1">
      <%= form.number_field :individual_cheese_weight_35, step: :any, class: field_class_flex_small %>
    </div>

   </div>

   <hr class="my-1">
     <div class= "mb-1 text-base font-bold text-left underline underline-offset-2">
    From Batch Ticket:
   </div>

<div class="grid md:grid-cols-4 ">
  <div class="text-left pl-4 pt-2 border-t-2 border-l-2 border-gray-800"> <span class="font-bold mb-1">Number in Batch:</span></div>
  <div class="pt-2 pr-10 border-t-2 border-r-2 border-gray-800"> <%= traceability_record.makesheet.number_of_cheeses %></div>
  <div class="text-left pl-4 pt-2 "> <span class="font-bold mb-1 whitespace-nowrap">Total No. of Cheeses of Batch:</span></div>
  <div class="pt-2 pr-10 "> <%= traceability_record.calculated_batch_cheese_count %></div>
 
  <div class="text-left pl-4 pt-2 border-b-2 border-l-2 border-gray-800"> <span class="font-bold mb-1">Total Weight of Batch:</span></div>
  <div class="pt-2 pr-10 border-b-2 border-r-2 border-gray-800"> <%= traceability_record.makesheet.total_weight %></div>
  <div class="text-left pl-4 pt-2"> <span class="font-bold mb-1 whitespace-nowrap">Total Weight of Batch(Kg):</span></div>
  <div class="pt-2 pr-10">  <%= traceability_record.calculated_batch_cheese_weight_total %></div>
</div>

  <hr class="mb-2 mt-2">

  <div class="inline">
    <%= form.submit "Save", class: fill_button_class %>
  </div>
<% end %>

  <div class="inline">
    <%= link_to "Show Details", traceability_record, class: gray_button %> 
  </div>