

<div class="grid grid-rows-1 grid-cols-7">
    <p class="my-1 border border-gray-400 text-center p-1 bg-gray-200">
     Totals:
    </p>
    <p class="my-1 border border-gray-400 text-center p-1 bg-gray-200">
      <%= @traceability_record.waste_records_total_wedges %>
    </p>
    <p class="my-1 border border-gray-400 text-center p-1 bg-gray-200">
      <%=@traceability_record.waste_records_total_cooking %>
    </p>
    <p class="my-1 border border-gray-400 text-center p-1 bg-gray-200">
      <%= @traceability_record.waste_records_total_blue %>
    </p>
    <p class="my-1 border border-gray-400 text-center p-1 bg-gray-200">
      <%= @traceability_record.waste_records_t_and_bs %>
    </p>
    <p class="my-1 border border-gray-400 text-center p-1 bg-gray-200">
      <%= @traceability_record.waste_records_waste %>
    </p>    
  </div>
</div>
