<div id="<%= dom_id delivery_inspection %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Delivery date:</strong>
    <%= delivery_inspection.delivery_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Item:</strong>
    <%= delivery_inspection.item %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Batch no:</strong>
    <%= delivery_inspection.batch_no %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Best before:</strong>
    <%= delivery_inspection.best_before %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cert received:</strong>
    <%= delivery_inspection.cert_received %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Damage:</strong>
    <%= delivery_inspection.damage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Foreign contam:</strong>
    <%= delivery_inspection.foreign_contam %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pest contam:</strong>
    <%= delivery_inspection.pest_contam %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Timely delivery:</strong>
    <%= delivery_inspection.timely_delivery %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Satisfactory:</strong>
    <%= delivery_inspection.satisfactory %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= delivery_inspection.comments %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Staff:</strong>
    <%= delivery_inspection.staff_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Staff signature:</strong>
    <%= delivery_inspection.staff_signature %>
  </p>

</div>
