     <%= form_with(model: wash, class: "contents") do |form| %>
        <% if wash.errors.any? %>
          <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(wash.errors.count, "error") %> prohibited this wash from being saved:</h2>

            <ul>
              <% wash.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br>
        <div class="my-4">
          <%= form.label :action_date, class: label_class %>
          <%= form.date_field :action_date, :value => Time.now.strftime('%Y-%m-%d'), class: field_class_flex %>
        </div>
  
        <div class="mb-4 my-4">
          <%= form.label :wash_status, "Status", class: label_class %>
          <%= form.text_field :wash_status, :value => "Created", :readonly => true,   class: "outline-none focus:bg-green-800 border border-green-800 text-gray-800 rounded-lg text-left p-2 bg-gray-100 w-50"%>
         </div>

            <div class="mb-6">
                 <p class="block text-sm text-left font-medium text-gray-700" %>Picksheets (check box to assign to wash)</p>
                 <div class="mt-2 text-left ">
                    <%= form.collection_check_boxes :picksheet_ids, @picksheets_subset, :id, :picksheet_title_detail, not_checked: Picksheet.all.map(&:id) do |b| %>
                      <span class="indent-3">
                        <%= b.check_box %>
                        <%= b.label %><br>
                      </span>
                  <% end %>
                 <div>
             <div>
  
          <div class="inline">
            <%= form.submit class: fill_button_class %>
            <%= link_to "Back to washes", washes_path, class: gray_button %>
          </div>
      <% end %>
      </div>
</div>
