<% content_for(:page_title, "WASH REQUEST : DETAILS")%>

<div class="mx-auto justify-center w-full flex">
<div class="border border-double border-4 border-green-800 p-2 rounded-lg">
  <div class="mx-auto">
    
     <div class="header">
      <%= render "wash_mgmt", wash: @wash  %>
     </div>
   </div>
   
   <div class="text-sm text-left text-gray-500 ml-2">
     ASSOCIATED PICKSHEETS
   </div>
   <div class=" overflow-x-auto">
         <table class="w-full table-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
             <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                 <tr>
                     <th scope="col" class="px-6 py-3 text-left">
                         Delivery Due By
                     </th>
                     <th scope="col" class="px-6 py-3 text-left">
                        Invoice No.
                     </th>
                     <th scope="col" class="px-6 py-3 text-left ">
                       Customer
                     </th>
                     <th scope="col" class="px-6 py-3 text-left ">
                        Total Products
                     </th>
                 </tr>
             </thead>
             <% if @wash.picksheets.any? %>
                 <% @wash.picksheets.each do |picksheet| %>
            <tbody>
           
              <tr>
                <td class="px-6 py-3 text-left  underline underline-offset-2">
                  <%= (link_to (picksheet.delivery_required_by.to_formatted_s(:uk_day)), picksheet_path(picksheet) ) unless picksheet.delivery_required_by.to_s.empty?  %>
                 </td>
                  <td class="px-6 py-3 text-left">
                   <%= picksheet.invoice_number %>
                </td>
                 <td class="px-6 py-3 text-left">
                    <%= picksheet.contact.business_name %>
                 </td>
                 <td class="px-6 py-3 text-left">
                   <%= picksheet.picksheet_items.count %>
                </td>
              </tr>
                <% end %>
             </tbody>
             <% end %>
          </table>  
        
          <br><hr>
          
          <% @picksheetitems_by_product.each do |product, picksheetitems| %>
            <div class="flex justify-between bg-green-100">
               <div class="text-lg font-bold ml-4 p-2  pr-10">
                   <%= product %>
               </div>
               <div class="text-lg font-bold ml-4 p-2  pr-10">
                   <span class="font-normal">Total: </span>
                   <%= get_weight_of_group(picksheetitems) %>Kg
               </div>
               <div class="text-lg font-bold ml-4 p-2  pr-10">
                <span class="font-normal">Recomended: </span>
                   <%= how_many_cheeses_do_i_need(product, picksheetitems) %> Cheeses
               </div>
             </div>
   
             <div class="justify-center">
               <table class="table-fixed">
                   <thead class="bg-gray-100 border-b-3 text-gray-500 font-light text-xs ">
                       <tr>
                      
                           <th scope="col" class="px-12 py-3 text-right">
                               Size
                           </th>
                           <th scope="col" class="px-12 py-3  text-right">
                               Count
                           </th>
                           <th scope="col" class="px-12 py-3 text-right">
                             (calc weight)
                           </th>
                         </tr>
                   </thead>
                   <tbody>
                     <% picksheetitems.each do |picksheetitem| %>
                         <tr class="bg-white border-b hover:bg-gray-100">
                        
                             <td class="px-12 py-2 text-right">
                                 <%= picksheetitem.size %>
                             </td>
                
                             <td class="px-12 py-2 text-right">
                                 <%= picksheetitem.count %>
                             </td>
                
                             <td class="px-12 py-2 text-right">
                                 <%= picksheetitem.get_weight %>
                             </td>
                    
                         </tr>
                         <% end %>
                   </tbody>
                 </table>
           <% end %>
     
     <br>
    <%= link_to "Edit this Wash", edit_wash_path(@wash), class: gray_button %>
    <%= link_to "Back to Washes", washes_path, class: gray_button %>
    <div class="inline-block">
    <%= button_to "Delete Wash",
                    @wash,
                    method: :delete,
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    class: gray_button %>
    </div>
  </div>
  </div>
</div>
