<div id="<%= dom_id butter_make %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= butter_make.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cream:</strong>
    <%= butter_make.cream %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Make:</strong>
    <%= butter_make.make %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stock:</strong>
    <%= butter_make.stock %>
  </p>

</div>
