<div class="max-w-xl mx-auto mt-4 bg-white p-4">
  <%= form_with(model: butter_make, local: true) do |form| %>

    <%= form_errors_for(butter_make) %>

    <div class="grid grid-cols-2 gap-x-5 gap-y-3 items-center">

      <!-- Date -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :date %>
      </label>
      <div class="text-left">
        <%= form.date_field :date, class: field_class_flex %>
      </div>

      <!-- Cream -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :cream %>
      </label>
      <div class="text-left">
        <%= form.number_field :cream, placeholder: "qty", class: field_class_flex_small %>
      </div>

      <!-- Make -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :make %>
      </label>
      <div class="text-left">
        <%= form.number_field :make, placeholder: "qty", class: field_class_flex_small %>
      </div>

      <!-- Stock -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :stock %>
      </label>
      <div class="text-left">
        <%= form.number_field :stock, placeholder: "qty", class: field_class_flex_small %>
      </div>

      <!-- Submit -->
      <!-- Back to Index (1st col, label side) -->
      <div class="text-left">
        <%= link_to "â† Back to Calculations", butter_makes_path, class: gray_button %>
      </div>

      <!-- Submit Button (2nd col, input side) -->
      <div class="text-left">
        <%= form.submit "Save", class: fill_button_class %>
      </div>
    </div>
  <% end %>
</div>
