<%= form_with(model: butter_make, class: "contents") do |form| %>
  <% if butter_make.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(butter_make.errors.count, "error") %> prohibited this butter_make from being saved:</h2>

      <ul>
        <% butter_make.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :date %>
    <%= form.date_field :date, class: field_class_flex %>
  </div>

  <div class="my-5">
    <%= form.label :cream %>
    <%= form.number_field :cream, class: field_class_flex %>
  </div>

  <div class="my-5">
    <%= form.label :make %>
    <%= form.number_field :make, class: field_class_flex %>
  </div>

  <div class="my-5">
    <%= form.label :stock %>
    <%= form.number_field :stock, class: field_class_flex %>
  </div>

  <div class="inline">
    <%= form.submit "Save", class: fill_button_class %>
  </div>
<% end %>
