<div id="<%= dom_id market_sale %>">
  <tr class="border-b border-gray-200">
    <td class="px-4 py-2 text-left">
      <%= market_sale.who %>
    </td>
    <td class="px-4 py-2 pr-2 text-left">
      <%= link_to market_sale.market, market_sale_path(market_sale), class:link_class %>
    </td>
    <td class="px-4 py-2 text-left">
      <%= market_sale.sale_date.to_formatted_s(:uk_clean_date) %>
    </td>
    <td class="px-4 py-2 text-right">
      <%= market_sale.cheese_sales %>
    </td>
    <td class="px-4 py-2 text-right">
      <%= market_sale.butter_sales %>
    </td>
    <td class="px-4 py-2 text-right">
      <%= market_sale.plum_bread %>
    </td>
    <td class="px-4 py-2 text-right">
      <%= market_sale.milk %>
    </td>
    <td class="px-4 py-2 text-right">
      <%= market_sale.other_cheese %>
    </td>
    <td class="px-4 py-2 text-right">
      <%= market_sale.total_sales %>
    </td>
    <td class="px-4 py-2 text-right">
      <%= market_sale.weight %>
    </td> 
</tr>

