<% content_for(:page_title, "Reset Password") %>

<div class="mx-auto md:w-1/3 w-full pt-12 flex justify-center">
  <div class="border border-gray-400 rounded-lg p-8 text-right">

    <h2 class="text-xl font-semibold mb-6 text-left">Set a New Password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

      <%= f.hidden_field :reset_password_token, value: params[:reset_password_token] %>

      <div class="field mb-6">
        <%= f.label :password, "New password", class: label_class %><br>
        <%= f.password_field :password, autocomplete: "new-password", class: field_class %>
      </div>

      <div class="field mb-6">
        <%= f.label :password_confirmation, "Confirm new password", class: label_class %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: field_class %>
      </div>

      <div class="actions">
        <%= f.submit "Update my password", class: fill_button_class %>
      </div>

    <% end %>

    <div class="mt-4 text-sm text-left">
      <%= link_to "Back to sign in", new_session_path(resource_name), class: "text-amber-500 hover:underline" %>
    </div>

  </div>
</div>

