<!-- app/views/shared/_store_nav.html.erb -->
<div class="mx-auto flex justify-center gap-4 mb-4 pb-2 border-b-2">

  <%= link_to "Makesheets", "/makesheets", class: "px-4 py-2 #{'font-bold border-b-2 border-blue-500' if current_page?('/makesheets/')} hover:bg-gray-200" %>

  <%= link_to "Summary", "/makesheets/monthly_summary", class: "px-4 py-2 #{'font-bold border-b-2 border-blue-500' if current_page?('/makesheets/monthly_summary')} hover:bg-gray-200" %>

  <%= link_to "On Hold", "/makesheets/on_hold", class: "px-4 py-2 #{'font-bold border-b-2 border-blue-500' if current_page?('/makesheets/monthly_summary')} hover:bg-gray-200" %>

  
  <%= link_to "Yield", "/makesheets/yield_dashboard", class: "px-4 py-2 #{'font-bold border-b-2 border-blue-500' if current_page?('/makesheets/yield_dashboard')} hover:bg-gray-200" %>

 <%= link_to "Cleaning", "/cleaning_foreign_body_checks/week_view", class: "px-4 py-2 #{'font-bold border-b-2 border-blue-500' if current_page?('/cleaning_foreign_body_checks/week_view')} hover:bg-gray-200" %>

 
  
</div>
