<div class="w-full">
<div class="overscroll-none">
<% content_for(:page_title, "BUTTER STOCK")%>
<% content_for(:page_button, "butter_stocks/new")%>
 
  <div id="butter_stocks" class="min-w-full">
   
<div class="flex flex-col h-screen">
    <div class="flex-grow overflow-auto">
      <table class="relative w-full border text-sm text-left text-gray-600 ">
       <thead class="text-xs text-gray-700 uppercase bg-gray-200 ">
        <tr class="bg-gray-200 sticky top-0">
                <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                   Make Date
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                   Today's Make
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                   Fresh Spare
                </th>
                <th scope="col" colspan="3" class="sticky top-0 px-4 py-2 text-left border-l-2 border-gray-600">
                   Market Returns
                </th>
                 <th scope="col"  colspan="3" class="sticky top-0 px-4 py-2 text-left border-l-2 border-gray-600">
                   Freezer Stock
                </th>
                <th scope="col"  colspan="3" class="sticky top-0 px-4 py-2 text-left border-l-2 border-gray-600">
                Family Butter
                </th>
              </tr>
             <tr class="bg-gray-200 sticky top-0">
                <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                   
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                  
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                  
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left border-l-2 border-gray-600">
                  Salted
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                  HM 2%
                </th>
                 <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                  Unsalted
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left border-l-2 border-gray-600">
                  Salted
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                  HM 2%
                </th>
                 <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                  Unsalted
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left border-l-2 border-gray-600">
                  Salted
                </th>
                <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                  HM 2%
                </th>
                 <th scope="col" class="sticky top-0 px-4 py-2 text-left">
                  Unsalted
                </th>
              </tr>
        </thead>
        <tbody class="overflow-contain">
      <% @butter_stocks.each do |butter_stock| %>
            <tr class="border-b  hover:bg-gray-100">
                <td scope="row" class="px-4 py-2 whitespace-nowrap underline underline-offset-2">
                   <%= link_to butter_stock.make_date.to_formatted_s(:uk_clean_date), butter_stock %>
                </td>
                <td class="px-4 py-3 text-left underline underline-offset-2">
                  <%=   butter_stock.todays_make %>
                </td>
                <td class="px-4 py-3 text-left whitespace-nowrap">
                  <%= butter_stock.fresh_spare_for_sale %>
                </td>
                <td class="px-4 py-3 text-left border-l-2 border-gray-600">
                  <%=  butter_stock.market_returns_salted %>
                </td>
                <td class="px-4 py-3 text-left">
                  <%=  butter_stock.market_returns_hm2 %>
                </td>
                <td class="px-4 py-3 text-left">
                  <%=  butter_stock.market_returns_unsalted %>
                </td>
                <td class="px-4 py-3 text-left border-l-2 border-gray-600">
                  <%=  butter_stock.freezer_stock_salted %>
                </td>
                <td class="px-4 py-3  text-left truncate">
                  <%=  butter_stock.freezer_stock_hm2 %>
                </td>
                <td class="px-4 py-3  text-left truncate">
                  <%=  butter_stock.freezer_stock_unsalted %>
                </td>
                <td class="px-4 py-3 text-left border-l-2 border-gray-600">
                  <%=  butter_stock.family_butter_salted %>
                </td>
                <td class="px-4 py-3  text-left truncate">
                  <%=  butter_stock.family_butter_hm2 %>
                </td>
                <td class="px-4 py-3  text-left truncate">
                  <%=  butter_stock.family_butter_unsalted %>
                </td>
                
            </tr>
              <% end %>
        </tbody>
    </table>
</div>
  
  </div>
</div>