<% content_for(:page_title, "SALE & SHIP : PICK SHEETS")%>
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @turn %>

    <%= link_to "Edit this turn", edit_turn_path(@turn), class: gray_button  %>
    <%= link_to "Back to turns", turns_path, class: gray_button %>
    <div class="inline-block ml-2">
    <%= button_to "Delete",
                    @turn,
                    method: :delete,
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    class: gray_button %>
   </td>
    
    </div>
  </div>
</div>
