<% content_for(:page_title, "CUTTING ROOM")%>

<div class="my-4 mt-8 w-2/3 mx-auto">

 <div class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 place-content-center">
   
    <%= link_to "New Picksheet", "/picksheets/new", class: nav_box_class %>
    <%= link_to "Picksheets", "/picksheets", class: nav_box_class %>
    <%= link_to "Washes", "/washes", class: nav_box_class %>
    <%= link_to "Traceability", "/traceability_records", class: nav_box_class %>
    <%= link_to "Chillers ", "/chillers", class: nav_box_class %>

   
  </div>  
  
  </div>





