<% content_for(:page_title, "DAIRY") %>

<div class="max-w-5xl mx-auto px-4 mt-8 mb-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-center">

    <%= link_to "New Standard<br> 20kgs".html_safe,
        new_makesheet_path(make_type: "Standard", weight_type: "Standard (20 kgs)"),
        class: "#{nav_box_class} mx-auto" %>

    <%= link_to "New Red<br> 1/2 truckle".html_safe,
        new_makesheet_path(make_type: "Red", weight_type: "Half Truckle (10 kgs)"),
        class: "#{nav_box_class} mx-auto" %>

    <%= link_to "New P50<br>20kgs".html_safe,
        new_makesheet_path(make_type: "P50", weight_type: "Standard (20kgs)"),
        class: "#{nav_box_class} mx-auto" %>


    <%= link_to "Makesheets", "/makesheets", class: "#{nav_box_class} mx-auto" %>

    <%= link_to "Monthly Summary", "/makesheets/monthly_summary", class: "#{nav_box_class} mx-auto" %>

   <%= link_to "On Hold", on_hold_makesheets_path, class: "#{nav_box_class} mx-auto" %>
  
    <%= link_to "Cleaning Schedule", "/cleaning_foreign_body_checks/week_view", class: "#{nav_box_class} mx-auto" %>

    <%= link_to "Yield Mgmt", "/makesheets/yield_dashboard", class: "#{nav_box_class} mx-auto" %>

    <%= link_to "Rennet Guidance", "/pages/rennet_guidance", class: "#{nav_box_class} mx-auto" %>

    <%= link_to "Delivery Inspections", "/delivery_inspections", class: "#{nav_box_class} mx-auto" %>

    <%= link_to "Cheese Make Audit", audit_report_path, class: "#{nav_box_class} mx-auto" %>

  </div>
</div>
