<div class="max-w-xl mx-auto mt-4 bg-white p-4">

  <%= form_with(url: "#", local: true) do |form| %>
    <div class="grid grid-cols-2 gap-x-5 gap-y-3 items-center">

      <!-- Date -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :moved_at, "Date" %>
      </label>
      <div class="text-left">
        <%= form.date_field :moved_at, value: Date.today, class: field_class_flex %>
      </div>

      <!-- Makesheet -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :makesheet_id, "Makesheet" %>
      </label>
      <div class="text-left">
        <%= form.select :makesheet_id,
                        options_from_collection_for_select(Makesheet.all, :id, :make_date_formatted, @location_movement.makesheet_id),
                        { prompt: "Select Makesheet" },
                        class: field_class_flex %>
      </div>

      <!-- Location Select -->
        <label class="text-right font-semibold text-gray-700">
          <%= form.label :location_id, "Location (Scan or Select)" %>
        </label>
        <div class="text-left">
          <%= form.select :location_id,
              options_from_collection_for_select(Location.where(active: true).order(:name), :id, :name, @location_movement.location_id),
              { prompt: "Select Location" },
              class: field_class_flex,
              id: "location-id-select",
              data: { qr_scanner_target: "select" } %>
        </div>

        <!-- QR Scanner -->
        <div data-controller="qr-scanner" id="qr-reader" class="col-span-2 text-center mt-4">
          <p class="text-xs text-gray-500 mt-2">Scan a QR code to auto-select a location</p>
        </div>


      <!-- Back Button -->
      <div class="text-left">
        <%= link_to "â† Back", pages_wash_home_path, class: gray_button %>
      </div>

      <!-- Submit Button -->
      <div class="text-left">
        <%= form.submit "Save", class: fill_button_class %>
      </div>

    </div>
  <% end %>
</div>
