<% content_for(:page_title, "MANAGEMENT")%>

<div class="my-4 mt-8 w-2/3 mx-auto">
  <div class="my-4 text-center mt-2">
    <div class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 place-content-center">
   
    <%= link_to "Butter Makes", "/butter_makes", class: nav_box_class %>
    <%= link_to "Stock Position", "/makesheets/overview", class: nav_box_class %>
    <%= link_to "Monthly Cheese Summary", "/makesheets/monthly_summary", class: nav_box_class %>
    <%= link_to "Market Sales", "/market_sales", class: nav_box_class %>
    <%= link_to "Invoices ", "/invoices", class: nav_box_class %>
    <%= link_to "TBD ", "/butter_makes", class: nav_box_class %>
   
  </div>
</div>

<hr class="my-4">

<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="basis-1/2">
    <div class="text-center text-lg">
       Stock by %
   
    <%= pie_chart Makesheet.where("status NOT IN (?)", 'Finished').group(:grade).sum(:number_of_cheeses), donut: true, library: {pieSliceText: 'percentage'}, legend: "bottom"  %>
     </div>
  </div>
  
  
  <div class="basis-1/2">
    <div class="text-center text-lg">
       Stock Count
   
    <%= bar_chart Makesheet.where("status NOT IN (?)", 'Finished').group(:grade).sum(:number_of_cheeses), donut: true, library: {pieSliceText: 'value', legend: "bottom" }  %>
     </div>
  </div>
  </div>


<br><br>

<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="basis-1/2">
    <div class="text-center text-lg">
      Poacher Count by Age
    <%= line_chart Makesheet.where(grade: "Poacher").group_by_week(:make_date).sum(:number_of_cheeses) %>
  </div>
</div>
  <div class="basis-1/2">
    <div class="text-center text-lg">
      Vintage Count by Age
    <%= line_chart Makesheet.where(grade: "Vintage").group_by_week(:make_date).sum(:number_of_cheeses) %>
  </div>
</div>
</div>
