<% content_for(:page_title, "OFFICE")%>

<div class="my-4 mt-8 w-2/3 mx-auto">
  <div class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 place-content-center">
   
    <%= link_to "Staff", "/staffs", class: nav_box_class %>
    <%= link_to "Contacts", "/contacts", class: nav_box_class %>
    <%= link_to "Users", "/users", class: nav_box_class %>
    <%= link_to "References", "/references", class: nav_box_class %>
    <%= link_to "Calculations ", "/calculations", class: nav_box_class %>
    <%= link_to "Butter Stocks ", "/butter_stocks", class: nav_box_class %>
    <%= link_to "Samples", "/samples", class: nav_box_class %>
    <%= link_to "Milk Quality ", "/milk_quality_monitors", class: nav_box_class %>
    <%= link_to "Palletised Distribution Report", "/palletised_distributions", class: nav_box_class %>
  
  </div>
</div>


