<% content_for(:page_title, "STORE") %>

<div class="max-w-5xl mx-auto px-4 mt-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-center">

    <%= link_to "Graded Whiteboard", "/makesheets/graded_blackboard", class: "#{nav_box_class} mx-auto" %>

    <%= link_to "New Turns", "/turns/new", class: "#{nav_box_class} mx-auto" %>

    <%= link_to "Start<br>Grading Session".html_safe, preload_grading_notes_path, class: "#{nav_box_class} mx-auto" %>

    <%= link_to "Grading", "/grading_notes", class: "#{nav_box_class} mx-auto" %>

     <%= link_to "Location Tracking", "/pages/location", class: "#{nav_box_class} mx-auto" %>

  </div>
</div>

