<div id="<%= dom_id contact %>">

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 border border-gray-800 p-4 rounded-lg">
  <p class="">
    <strong class="block font-medium mb-1">Business name:</strong>
    <%= contact.business_name %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Contact name:</strong>
    <%= contact.contact_name %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Reference:</strong>
    <%= contact.reference %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= contact.email %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Mobile:</strong>
    <%= contact.mobile %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= contact.phone %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= contact.country %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= contact.address %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= contact.notes %>
  </p>

</div>
</div>
