<div id="<%= dom_id contact %>">

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 ">
  <p class="">
    <span class="block text-gray-400 mb-1">Business name:</span>
    <%= contact.business_name %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Contact name:</span>
    <%= contact.contact_name %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Reference:</span>
    <%= contact.reference %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Email:</span>
    <%= contact.email %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Mobile:</span>
    <%= contact.mobile %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Phone:</span>
    <%= contact.phone %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Country:</span>
    <%= contact.country %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Address:</span>
    <%= contact.address %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Pre Payment?:</span>
    <%= contact.pre_payment? ? "YES" : ""  %>
  </p>

   <p class="">
    <span class="block text-gray-400 mb-1">Payment On Receipt:</span>
    <%= contact.payment_on_receipt? ? "YES" : ""  %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Days After Invoice:</span>
    <%= contact.days_after_invoice %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Ts & Cs:</span>
    <%= contact.terms_and_conditions %>
  </p>


<p class="">
    <span class="block text-gray-400 mb-1">Sage Delivery Note:</span>
    <%= contact.sage_delivery_note? ? "YES" : ""  %>
  </p>

  <p class="">
    <span class="block text-gray-400 mb-1">Notes:</span>
    <%= contact.notes %>
  </p>

</div>
</div>
