<div class="overscroll-none">
<% content_for :title, "Poacher: Milk Quality Monitor Results" %>
<% content_for(:page_title, "MILK QUALITY MONITOR")%>
<% content_for(:print_button, "browser-print")%>
<% content_for(:page_button, "milk_quality_monitors/new")%>

<div class="mx-auto lg:w-4/5">
<div class="flex flex-col h-screen pr-2 ">

  <div class="flex justify-between items-start mb-4">
  <!-- Left: Import Form -->
    <div class="">
        <%= form_tag import_milk_quality_monitors_path, multipart: true do %>
          <div class="flex items-center space-x-2">
            <%= file_field_tag :file, class: "h-10 p-2 bg-gray-200 rounded-lg text-sm" %>
            <%= submit_tag "Import", class: "#{fill_button_class} h-10" %>
          </div>
        <% end %>
      </div>



    <!-- Right: Rolling Geo Average Button -->
    <div class="p-2">
      <%= link_to "Rolling Geo Average", rolling_geo_average_milk_quality_monitors_path,
                  class: "bg-yellow-400 hover:bg-yellow-600 text-gray-600 hover:text-white font-semibold py-2 px-4 rounded inline-block" %>
    </div>
  </div>


    <div class="flex-grow overscroll-none">
      <table class="mx-auto table-fixed relative w-full 2xllg:w-2/3 border text-sm text-center text-gray-500  ">
       <thead class="text-xs text-gray-800  bg-gray-200 ">
       
        <tr class="bg-gray-200 sticky top-0 border border-gray-400">
              <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Sample Date
              </th>
              <th scope="col" class="sticky top-0 px-4 py-2 pr-2 border border-gray-400 text-center">
                Production Date/Batch
              </th>
              <th id="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Cell count, Scc(x1000/mL)
              </th>
              <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Bactoscan (×1000/mL)
              </th>
              <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Butterfat (%)
              </th>
                <th id="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Lactose (%)
              </th>
              <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Protein (%)
              </th>
              <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Casein (%)
              </th>
               <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Urea (%)
              </th>
              <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Total Viable Colonies (cfu/ml)
              </th>
              <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Therms (cfu/ml)
              </th> 
              <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center">
                Coliforms (cfu/ml)
              </th>
                
            </tr>
            
            </thead>
            <tbody class="overflow-contain">
              <%= render @milk_quality_monitors %>
            </tbody>
        </table>
    </div> 

</div> 
</div> 

