<%# <%= form_with(model: chiller, data: { action: "submit->signature#submit" }, local: true) do |form| %> 
  <%= form_with(model: @chiller, data: { turbo: "false" }) do |form| %>

  
  <% if chiller.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(chiller.errors.count, "error") %> prohibited this chiller from being saved:</h2>

      <ul>
        <% chiller.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :date %>
    <%= form.date_field :date, class: field_class_flex %>
  </div>

  <div class="my-5">
    <%= form.label :chiller_1 %>
    <%= form.number_field :chiller_1, step: 0.1, class: field_class_flex %>
  </div>

  <div class="my-5">
    <%= form.label :chiller_2 %>
     <%= form.number_field :chiller_2, step: 0.1, class: field_class_flex %>
  </div>

  <div class="my-5">
    <%= form.label :action_taken, class:"mb-2" %>
    <%= form.text_area :action_taken,  rows:"4", class: "#{field_class_flex} flex-grow" %>
  </div>

  <div class="my-5">
    <%= form.label :staff_id %>
    <%= form.collection_select(:staff_id, @staffs, :id, :full_name,{:prompt=>true}, {:class=>field_class_flex }) %>
  </div>

   <div>
      <label for="signature" class="block text-sm font-medium text-gray-700">Signature</label>
      <div class="p-4 border rounded shadow-md" data-controller="signature">
        <canvas id="signature-canvas" class="w-full h-64 border rounded" data-signature-target="canvas"></canvas>
        <div class="flex justify-end mt-4">
          <button type="button" data-action="signature#clear" class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-600">
            Clear
          </button>
        </div>
      </div>
      <!-- Hidden Field to Store Signature -->
      <%# <%= form.hidden_field :signature, id: "signature-input", data: { signature_target: "input" } %> %>
      <%= form.hidden_field :signature, data: { signature_target: "input" } %>

    </div>

    <div data-controller="test">
  <p>Test controller area</p>
</div>
<script>
  console.log("Inline script working!");

</script>

  <div class="inline">
    <%= form.submit "Update Record", class: fill_button_class %>
  </div>
<% end %>
