<%# <%= form_with(model: chiller, data: { action: "submit->signature#submit" }, local: true) do |form| %> 
  <%= form_with(model: @chiller, data: { turbo: "false" }) do |form| %>

  
  <% if chiller.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(chiller.errors.count, "error") %> prohibited this chiller from being saved:</h2>

      <ul>
        <% chiller.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :date %>
    <%= form.date_field :date, class: field_class_flex_med %>
  </div>

  <div class="my-5">
    <%= form.label :chiller_1 %>
    <%= form.number_field :chiller_1, step: 0.1, class: field_class_flex_small %>
  </div>

  <div class="my-5">
    <%= form.label :chiller_2 %>
     <%= form.number_field :chiller_2, step: 0.1, class: field_class_flex_small %>
  </div>

  <div class="my-5">
    <%= form.label :action_taken, class:"mb-2" %>
    <%= form.text_area :action_taken,  rows:"3", class: "#{field_class_unsized} flex-grow" %>
  </div>

  <div class="my-5">
    <%= form.label :staff_id %>
    <%= form.collection_select(:staff_id, @staffs, :id, :full_name,{:prompt=>true}, {:class=>field_class_flex }) %>
  </div>

  <div class="my-5 text-right">
   <div data-controller="signature" class="flex flex-col items-center space-y-4 p-4 border rounded-lg shadow-md bg-white">
     <canvas width="400" height="200" class="border border-gray-400 rounded-lg shadow-sm bg-gray-100"></canvas>
  
     <button type="button" class="clear-signature px-4 py-2 bg-red-500 text-white font-semibold rounded-lg shadow hover:bg-red-600 transition">
      Clear Signature
    </button>

   <%= form.hidden_field :signature, class: "signature-input" %>
  </div>
  </div>

  <div class="inline">
    <%= form.submit "Update Record", class: fill_button_class %>
  </div>
<% end %>
