<% content_for(:page_title, "STORE : BATCH TURNS for #{@makesheet.make_date.to_formatted_s(:uk_day)}")%>



  <div class="flex flex-row">
    <div class="basis-1/4">
      <%= render 'makesheet_header', makesheet: @makesheet %>
      <div class="flex flex-wrap justify-between mx-auto  px-10 max-w-lg">
        <div class="relative overflow-x-auto">
            <table class="table-auto w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Turn Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Turned By
                        </th>
                    </tr>
                </thead>
                <tbody>
                 <% @turns.each do |turn| %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4 whitespace-nowrap">
                           <%= link_to turn.turn_date.to_formatted_s(:uk_time), turn %>
                        </td>
                        <td class="px-6 py-4">
                          <%= turn.turned_by %>
                        </td>
                    </tr>
           
                      <% end %>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    
    <div class="basis-3/4">
      <div class="m-2">
       <%= line_chart (@batch_turns_graph_data), id: "batch_turns-chart", width: "1000px", height: "600px", title: "Batch Turns by Month (since creation): should be linear", colors: ["#006400"], xtitle: "Date (since make date)", ytitle: "Turns" %>
      </div>
    </div>
   
  </div>

  <div class="m-4">
    <%= link_to "Back to Store Home Page", turns_store_home_path, class: gray_button %>
  </div>
