<div class="overscroll-none">
  <% content_for :title, "Poacher: Makesheets" %>
  <% content_for(:page_title, "MAKESHEETS")%>
  <% content_for(:page_button, "makesheets/new")%>

  <div id="makesheets">

    <div class="mx-auto max-w-[1140px] px-6">
        <%= form_with url: makesheets_path, method: :get, local: true, class: "mb-4" do %>
            <div class="flex flex-wrap items-center gap-3">
              <%= label_tag :search, "Filter", class: "font-semibold" %>

              <%= render "shared/makesheet_picker",
                    form: nil,
                    field: :search,
                    makesheets: Makesheet.ordered_reverse %>

              <%= label_tag :month, "By Month", class: "font-semibold" %>
              <%= select_tag :month, options_for_select(@available_months, params[:month]), include_blank: "All Months", class: field_class_flex %>

              <%= submit_tag "Search", class: fill_button_class %>
              <%= link_to "Clear", makesheets_path, class: clear_button_class %>
            </div>
          <% end %>

      <%= render "makesheet_table", makesheets: @makesheets %>
    </div>
  </div>
</div>