
<% content_for(:page_title, "DAIRY : MAKE SHEETS")%>
<br>
<div id="makesheets">
  <div class="basis-1/2">
    <div class="max-w-md mx-auto">

    <strong>Search by Batch</strong>
    <%= form_tag "/makesheets_search", method: "GET" do %>
     
        <%= text_field_tag :search_by_batch, params[:search_by_batch], class: field_class_flex %>
        <%= submit_tag "Search", class: "rounded-lg bg-green-800 border-green-500 text-white p-2 w-30" %>
        <% end %>
   
  </div>
  <br>

<% unless @makesheets.blank? %>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Make Date
                </th>
                <th scope="col" class="px-6 py-3 text-right">
                    Batch
                </th>
                <th scope="col" class="px-6 py-3 text-right">
                    Age (D / W / M)
                </th>
                <th scope="col" class="px-6 py-3 text-right">
                    Milk Used (l)
                </th>
                <th scope="col" class="px-6 py-3 text-right">
                    Total Weight(kg)
                </th>
                <th scope="col" class="px-6 py-3 text-right">
                ??
                </th>
                <th scope="col" class="px-6 py-3 text-right">
                    Cheese Count
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Grade
                </th>
                <th scope="col" class="px-6 py-3  text-center">
                    Weight Type
                </th>
                <th scope="col" class="px-6 py-3  text-center">
                    Turns #
                </th>
            </tr>
        </thead>
        <tbody>
         <% @makesheets.each do |makesheet| %>
            <tr class="bg-white border-b">
                <td scope="row" class="px-6 py-4 whitespace-nowrap underline underline-offset-2">
                   <%= link_to makesheet.make_date.to_formatted_s(:uk), makesheet %>
                </td>
                <td class="px-6 py-4 text-right  underline underline-offset-2">
                  <%=  link_to makesheet.batch, batch_turns_makesheet_path(makesheet) %>
                </td>
                <td class="px-6 py-4 text-right">
                  <%= makesheet.age_in_days %>d /  <%= makesheet.age_in_weeks %>w /  <%= makesheet.age_in_months %>m
                </td>
                <td class="px-6 py-4 text-right">
                  <%=  makesheet.milk_used %>
                </td>
                <td class="px-6 py-4 text-right">
                  <%=  makesheet.total_weight %>
                </td>
                <td class="px-6 py-4 text-right">
                  <%=  makesheet.number_of_cheeses %>
                </td>
                <td class="px-6 py-4 text-right">
                  <%=  makesheet.number_of_cheeses %>
                </td>
                <td class="px-6 py-4  text-center">
                   <%= link_to makesheet.grade, edit_makesheet_path(makesheet) %>
                </td>
                <td class="px-6 py-4  text-center">
                  <%=  makesheet.weight_type %>
                </td>
                <td class="px-6 py-4  text-center">
                  <%=  makesheet.turns.count %>
                </td>
                
            </tr>
           
              <% end %>
        </tbody>
    </table>
</div>
</div>
       <% end %>




