<p style="color: green"><%= notice %></p>
<% content_for(:page_title, "DAIRY : MAKE SHEET for #{@makesheet.make_date.to_formatted_s(:uk_day)}")%>

<%= render @makesheet %>

<div>
  <%= link_to "Edit this makesheet", edit_makesheet_path(@makesheet) %> |
  <%= link_to "Back to makesheets", makesheets_path %>

  <%= button_to "Destroy this makesheet", @makesheet, method: :delete %>
</div>
