
<% content_for(:page_title, "MAKE SHEET for #{@makesheet.make_date.to_formatted_s(:uk_time)}")%>
<% content_for :print_button, print_makesheet_pdf_path(id: @makesheet) %>

<div class="mx-auto w-full text-right pr-10">

  <div class="mt-4">
    <%= link_to "Edit this Make Sheet", edit_makesheet_path(@makesheet), class: fill_button_class %>
    <%= link_to "Back to Make Sheets", makesheets_path, class: clear_button_class %>

    <% if is_admin? %>
        <%= button_to "Delete Make Sheet",
            @makesheet,
            method: :delete,
            form: { data: { turbo_confirm: "Are you sure?" } },
            class: gray_button %>
   <% end %>
  </div>

  <br>

  <div class="text-left">
    <%= render @makesheet %>
  </div>

  <% if @makesheet.samples.any? %>
  <div class="text-left">
    <%= render "samples", makesheet: @makesheet %>
  </div>
  <% end %>

 </div>
