<%= form_with(model: reference, class: "contents") do |form| %>
  <% if reference.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
        <% reference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">
    <%= form.label :group %>
    <%= form.select :group, options_for_select(reference_group, :selected => @reference.group),{:prompt=>true}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"  %>
     </div>


  <div class="my-2">
    <%= form.label :value %>
    <%= form.text_field :value, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-2">
    <%= form.label :description %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-2 text-center">
    <%= form.label :active %>
    <%= form.check_box :active, class: "text-center block mt-2 h-5 w-5 checked:bg-green-500" %>
  </div>

  <div class="inline">
    <%= form.submit class: clear_button_class %>
  </div>
<% end %>
