<div class="max-w-xl mx-auto mt-4 bg-white p-4">
  <%= form_with(model: reference, local: true) do |form| %>

    <%= form_errors_for(reference) %>

    <div class="grid grid-cols-2 gap-x-5 gap-y-3 items-center">

      <!-- Group -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :group %>
      </label>
      <div class="text-left">
        <%= form.select :group, options_for_select(reference_group, reference.group), { prompt: true }, class: field_class_flex %>
      </div>

      <!-- Value -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :value %>
      </label>
      <div class="text-left">
        <%= form.text_field :value, class: field_class_flex %>
      </div>

      <!-- Description -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :description, "Desc" %>
      </label>
      <div class="text-left">
        <%= form.text_field :description, class: field_class_flex %>
      </div>

      <!-- Active Checkbox -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :active %>
      </label>
      <div class="text-left">
        <%= form.check_box :active, class: "h-5 w-5 m-2" %>
      </div>

      <!-- Back to Index -->
      <div class="text-left mt-2">
        <%= link_to "â† Back to References", references_path, class: gray_button %>
      </div>

      <!-- Submit Button -->
      <div class="text-left mt-2">
        <%= form.submit "Save Reference", class: fill_button_class %>
      </div>

    </div>
  <% end %>
</div>
