<div class="max-w-xl mx-auto mt-4 bg-white p-4">
  <%= form_with(model: reference, local: true) do |form| %>

    <%= form_errors_for(reference) %>

    <div class="grid grid-cols-2 gap-x-5 gap-y-3 items-center">

   <!-- Model -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :model %>
      </label>
      <div class="text-left">
        <%= form.select :model, reference_model_options, { prompt: "Please select" }, class: field_class_flex %>
      </div>

      <!-- Group -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :group %>
      </label>
      <div class="text-left">
        <%= form.select :group, options_for_select(reference_group, reference.group), { prompt: true }, class: field_class_flex %>
      </div>

      <!-- Value -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :value %>
      </label>
      <div class="text-left">
        <%= form.text_field :value, class: field_class_flex %>
      </div>
      
      <!-- Sort Order -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :sort_order, "Sort Order" %>
      </label>
      <div class="text-left">
        <%= form.number_field :sort_order, class: field_class_flex_med %>
      </div>

    <!-- Active Checkbox -->
      <label class="text-right font-semibold text-gray-700">
        <%= form.label :active %>
      </label>
      <div class="text-left">
        <%= form.check_box :active, class: checkbox_input_class %>
      </div>


      <!-- Back Button -->
      <div class="text-left mt-2">
        <%= link_to "â† Back to References", references_path, class: gray_button %>
      </div>

      <!-- Submit Button -->
      <div class="text-left mt-2">
        <%= form.submit "Save Reference", class: fill_button_class %>
      </div>

    </div>
  <% end %>
</div>
