<div class"text-left">
<div id="<%= dom_id reference %>">
  <p class="my-4">
    <strong class="block font-medium mb-1">Group:</strong>
    <div class="border border-green-800 rounded-lg text-left p-2 bg-gray-100 w-30">
      <%= reference.group %>
    </div>
  </p>

  <p class="my-4">
    <strong class="block font-medium mb-1">Value:</strong>
    <div class="border border-green-800 rounded-lg text-left p-2 bg-gray-100 w-30">
      <%= reference.value %>
    </div>
  </p>

  <p class="my-4">
    <strong class="block font-medium mb-1">Description:</strong>
    <div class="border border-green-800 rounded-lg text-left p-2 bg-gray-100 w-50">
      <%= reference.description %>
    </div>
  </p>

  <p class="my-4">
    <strong class="block font-medium mb-1">Active:</strong>
    <div class="border border-green-800 rounded-lg text-left p-2 bg-gray-100">
      <%= reference.active %>
    </div>
  </p>
  <br>
</div>
</div>
