<%= render 'shared/store_nav' %>

<div class="mx-auto max-w-6xl px-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    
    <!-- Trolleys -->
    <div class="rounded-2xl border border-gray-800 p-4">
      <h3 class="text-xl font-semibold text-center mb-2 ">Trolleys</h3>
      <div class="w-[240px] mx-auto">
        <%= pie_chart @trolley_data, height: "240px", colors: ["#1f2937", "#f3f4f6"] %>
      </div>
      <p class="text-center text-xl text-gray-800 font-semibold mt-2"><%= @trolley_percent %>% full</p>
    </div>

    <!-- Shed 4 -->
    <div class="rounded-2xl border border-gray-800 p-4">
      <h3 class="text-xl font-semibold text-center mb-2">Shed 4</h3>
      <div class="w-[240px] mx-auto">
        <%= pie_chart @shed_4_aisle_data, height: "240px", colors: ["#1f2937", "#f3f4f6"] %>
      </div>
      <p class="text-center text-xl text-gray-800 font-semibold mt-2"><%= @shed_4_percent %>% full</p>
    </div>

    <!-- Shed 5 -->
    <div class="rounded-2xl border border-gray-800 p-4">
      <h3 class="text-xl font-semibold text-center mb-2">Shed 5</h3>
      <div class="w-[240px] mx-auto">
        <%= pie_chart @shed_5_aisle_data, height: "240px", colors: ["#1f2937", "#f3f4f6"] %>
      </div>
      <p class="text-center text-xl text-gray-800 font-semibold mt-2"><%= @shed_5_percent %>% full</p>
    </div>

  </div>
</div>
