<div id="<%= dom_id batch_weight %>">
  <tr class="border hover:bg-gray-100"> 
    <td class="px-2 py-2 border border-gray-400 text-center whitespace-nowrap text-xs underline underline-offset-2">
     <%= batch_weight.date? ? (link_to batch_weight.date.to_formatted_s(:uk_clean_date), edit_batch_weight_path(batch_weight)) : "" %>
    </td>

   <td class="px-2 py-2 border border-gray-400 text-center whitespace-nowrap text-xs">
    <%= batch_weight.makesheet_id? ? batch_weight.makesheet.make_date.to_formatted_s(:uk_clean_date) : "Select batch" %> 
   </td>

  <td class="px-2 py-2 border border-gray-400 text-center whitespace-nowrap text-xs">
      <%= batch_weight.makesheet_id? ? batch_weight.makesheet.number_of_cheeses : "Select batch" %> 
  </td>

   <td class="px-2 py-2 border border-gray-400 text-center whitespace-nowrap text-xs">
    <%= batch_weight.washed_batch_weight %>
   </td>

   <td class="px-2 py-2 border border-gray-400 text-center whitespace-nowrap text-xs">
    <%= batch_weight.makesheet_id? ? batch_weight.makesheet.total_weight : "Select batch" %> 
   </td>

   <td class="px-2 py-2 border border-gray-400 text-center whitespace-nowrap text-xs">
    <%= batch_weight.makesheet_id? ? batch_weight.makesheet.grade : "Select batch" %> 
   </td>

   <td class="px-2 py-2 border border-gray-400 text-center whitespace-nowrap text-xs">
    <%= batch_weight.all_rinds_visually_clean %>
   </td>

   <td class="px-2 py-2 border border-gray-400 text-center whitespace-nowrap text-xs">
    <%= batch_weight.comments %>
   </td>

</div>
