<div class="text-gray-800 mt-2 bg-white">
<ol class="flex items-center whitespace-nowrap">
  <li class="inline-flex items-center">
    <a class="flex items-center text-sm">
      <%= link_to "Home", root_path, class: link_class %>
    </a>
    <svg class="shrink-0 mx-2 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m9 18 6-6-6-6"></path>
    </svg>
  </li>
  <li class="inline-flex items-center">
       <a class="flex items-center text-sm">  
        <%= link_to "Dairy",  pages_dairy_home_path, class: link_class  %>
      </a>
      <svg class="shrink-0 mx-2 size-4 text-green-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </a>
  </li>
  <li class="inline-flex items-center">
       <a class="flex items-center text-sm">
          <%= link_to "Nursery",  pages_nursery_home_path, class: link_class  %>
      </a>
      <svg class="shrink-0 mx-2 size-4 text-green-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </a>
  </li>
  <li class="inline-flex items-center">
       <a class="flex items-center text-sm">
         <%= link_to "Store",  pages_store_home_path, class: link_class %>
      </a>
      <svg class="shrink-0 mx-2 size-4 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </a>
  </li>
  <li class="inline-flex items-center">
       <a class="flex items-center text-sm">
        <%= link_to "Wash",  pages_wash_home_path, class: link_class %>
      </a>
      <svg class="shrink-0 mx-2 size-4 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </a>
  </li>
  <li class="inline-flex items-center">
       <a class="flex items-center text-sm">
         <%= link_to "Cutting",  pages_cutting_home_path, class: link_class %>
      </a>
      <svg class="shrink-0 mx-2 size-4 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </a>
  </li>
  <li class="inline-flex items-center">
       <a class="flex items-center text-sm">
         <%= link_to "Sale & Ship",  pages_sales_home_path, class: link_class %>
      </a>
      <svg class="shrink-0 mx-2 size-4 text-green-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </a>
  </li>
  <li class="inline-flex items-center">
       <a class="flex items-center text-sm">
          <%= link_to "Quality Control",  pages_sales_home_path, class: link_class %>
      </a>
      <svg class="shrink-0 mx-2 size-4 text-green-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"></path>
      </svg>
     
    </a>
  </li>
  <li class="inline-flex items-center">
       <a class="flex items-center text-sm">
          <%= link_to "Admin",  pages_admin_home_path, class: link_class %>
      </a>
     
    </a>
  </li>
</ol>
</div>
