<header class="sticky top-0 z-50 border border-gray-100 bg-gray-800">
  <section class="max-w-4xl mx-auto flex h-10 items-center justify-between text-gray-100">
    
    <!-- Home Button (Hidden on small screens) -->
    <div class="text-sm ml-4 hidden md:block">
      <a href="/pages/home">
        <span class="font-medium text-gray-100"><i class="fa-solid fa-house"></i></span>
      </a> 
    </div>

    <div class="flex items-start justify-between">
      <!-- Hamburger Button -->
      <button id="hamburger-button" 
        class="text-3xl text-white focus:outline-none sm:block md:hidden">
        &#9776;
      </button>
    </div>


    <!-- Main Navigation (Hidden on small screens, shown on md+) -->
    <nav class="hidden md:flex space-x-6 text-sm font-medium text-gray-100" aria-label="main">
      <a href="/pages/dairy_home" class="hover:opacity-90">Dairy</a>
      <a href="/pages/store_home" class="hover:opacity-90">Store</a>
      <a href="/pages/wash_home" class="hover:opacity-90">Wash</a>
      <a href="/pages/cutting_home" class="hover:opacity-90">Cutting</a>
      <a href="/pages/office_home" class="hover:opacity-90">Office</a>
      <a href="/pages/mgmt_home" class="hover:opacity-90">Mgmt</a>
    </nav>

    <!-- User Profile/Edit Section (Hidden on small screens) -->
    <div class="hidden md:flex mr-6">
      <% if user_signed_in? %> 
        <div class="grid inline-grid grid-cols-2 gap-4 justify-items-center my-4">
          <div>
            <%= link_to edit_user_registration_path do %>
              <i data-tooltip-target="tooltip-edit" class="fa-solid fa-user text-gray-100"> </i>
            <% end %> 
            <div id="tooltip-edit" class="absolute z-10 invisible text-sm text-gray-600 bg-white rounded-lg shadow-sm opacity-0 tooltip">
              Edit Profile
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>

          <div>
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
              <i data-tooltip-target="tooltip-logout" class="fa-solid fa-arrow-right-from-bracket text-gray-100"></i>
            <% end %>
            <div id="tooltip-logout" class="absolute z-10 invisible text-sm text-gray-600 bg-white rounded-lg shadow-sm opacity-0 tooltip">
              Logout
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

   


   <!-- Mobile Menu -->
     <section id="mobile-menu" class="absolute top-10 w-full bg-gray-800 text-5xl hidden" data-hamburger-target="menu">
      <!-- Close Button -->
      <button class="text-4xl text-white self-end px-6 mb-2 ml-4" data-action="click->hamburger#toggle">
        &times;
      </button>

    <nav class="h-full flex flex-col items-center bg-gray-800 text-gray-100 py-8">
      <a href="/pages/home" class="w-full py-6 text-center hover:opacity-90">Home</a>
      <a href="/pages/dairy_home" class="w-full py-6 text-center hover:opacity-90">Dairy</a>
      <a href="/pages/store_home" class="w-full py-6 text-center hover:opacity-90">Store</a>
      <a href="/pages/wash_home" class="w-full py-6 text-center hover:opacity-90">Wash</a>
      <a href="/pages/cutting_home" class="w-full py-6 text-center hover:opacity-90">Cutting</a>
      <a href="/pages/office_home" class="w-full py-6 text-center hover:opacity-90">Office</a>
      <a href="/pages/mgmt_home" class="w-full py-6 text-center hover:opacity-90">Mgmt</a>
      <a href="<%= edit_user_registration_path %>" class="w-full py-6 text-center hover:opacity-90">
      <i class="fa-solid fa-user text-gray-100"></i>
      </a>
      <a href="<%= destroy_user_session_path %>" data-turbo-method="delete" class="w-full py-6 text-center hover:opacity-90">
        <i class="fa-solid fa-arrow-right-from-bracket text-gray-100"></i>
      </a>

    </nav>
    </section>
    </div>

    <!-- title bar -->
s    <section>
      <%= render "layouts/title_bar" %>
    </section>

</header>
