<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title><%= yield(:title) %></title>
    <link rel="shortcut icon" href="/public/poacher_logo_sm.jpg"/>
   
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        
    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/poacher_logo_sm.jpg"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- JavaScript -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %> <!-- External chartkick -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.turbo.min.js"></script>
    <script src="https://kit.fontawesome.com/d868e3ba9e.js" crossorigin="anonymous"></script>

    <%= javascript_include_tag('animation') %>
   
    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

   <%= render "layouts/header" %>
   
   
  <body class="min-h-screen bg-white text-gray-800">
     <main class="">
     
       <div class="ml-4 mt-2 mr-2 max-h-4/5 ">

         <% if flash.present? %>
          <div id="flash" class="text-center">
            <%= render "layouts/flash" %> 
          </div>
          <% end %>
         
          <div class="mt-8">
            <%= yield %>
          </div>
          
       </div> 
       
     </main>
     
     <footer>
     </footer>
  
  </div>
  </body>

</html>
